[2014-09-17 00:47] ZachBora opened #1 "Block placement on outer edge of plot"
Find a way to allow placing blocks against the outer edge of the plot without being able to add to it.

[2014-09-17 01:33] ZachBora opened #3 "Add message when trying to deny the plot owner"
Add a caption and message when trying to deny a plot owner, see the //TODO in the deny command.

[2014-10-20 05:48] MattBDev opened #6 "Support for Citizens Plugin"
Add support for Citizens Plugin in PlotMe.
http://wiki.citizensnpcs.co/Citizens_Wiki

[2014-10-29 03:51] ZachBora opened #7 "Class priorities"
Right now there is an issue where some classes of PlotMe-Core are included in the generator. The class that bukkit uses at the moment is the one from the generator. Our problem if this isn't fixed is that if later on we change the API code, it will be overwritten by older version of generators.

I am not sure if the issue comes from when the plugin loads or if it's because of Alphabetical order, P

[2014-12-25 07:23] EvilOlaf opened #34 "Small Typo"
[code]

I am pretty sure this should be "destination", not "desitnation" :)

[2014-12-25 12:32] Bobcat00 opened #36 "Mark center of plots"
Add a PlotCenterBlockId indicating a block which would be automatically placed at the center of each plot when it is generated.  There would be either 1 or 4 blocks of this ID, depending if PlotSize was odd or even.  Users could specify blocks like stone or glowstone so they can easily find the exact center of their plots.  The block could default to 2 (grass) so it would be backwards compatible w

[2014-12-26 19:17] Puharesource opened #43 "/plot move Not working properly"
I've only tried this once, seeing as it lagged the server a little bit + The build that I tried to move, was destroyed.

So what happened was that I had to plots, let's call them A & B. Plot A was a claimed plot, that I wanted to move to a new location and plot B was an unclaimed plot that I wanted it to be replaced with. When I used command /plot move <coordinates for B> <coordinates for A> It la

[2014-12-27 06:04] Kyblitz opened #46 "This is not a plotworld/ Internal errors when using plotme commands"
When I try to do /plotme for commands, I get an internal server error. When I try to claim a plot, it says it is not a plotworld, even though it is defined as one in both of the configs.
![2014-12-26_22 00 59](https://cloud.githubusercontent.com/assets/8618899/5560578/248f4d0e-8d4b-11e4-92a2-c7aaf88ae501.png)
![2014-12-26_22 01 13](https://cloud.githubusercontent.com/assets/8618899/5560579/258c42c

[2014-12-27 10:24] denniso08 opened #49 "No Plotme Commands"
I have no plotme commands at all i do /plotme and all i get is what i put in chat just says /plotme Here is a log of what happens when i boot up.
http://pastebin.com/LzDTrpyX

![2014-12-27_10 20 14](https://cloud.githubusercontent.com/assets/10322317/5561039/89529c16-8db2-11e4-8709-24711af0f562.png)

[2014-12-28 02:42] unon1100 opened #50 "Maven Repository?"
Is there a repository that hosts the plotme plugins right now? It would be good to have them, especially being that the one on the hawkfalcon repository doesn't have the API.

[2014-12-29 11:08] EvilOlaf opened #53 "WorldEdit support for plotme move"
As already in IRC suggested (not by me) there should be WE used to move plots

Related to https://github.com/WorldCretornica/PlotMe-Core/issues/43

My suggestions in this case:
Do not set WorldEdit as hard dependency. Just disable plot moving when no (supported version of) worldedit has been found and send an error message to the user.

Also I highly recommend to add support for AsyncWorldEdit (ju

[2014-12-29 23:29] DeJay6424 opened #60 "Creating PlotMe World"
Spigot-1.7.10-(1.8.0)-Snapshot
Minecraft Version: 1.7.10
When I run the command:
/mv create plotworld normal -g PlotMe-DefaultGenerator
It DOES create a plotworld. But doing any of the plotme commands internal error my server.
When I run the command /plotme auto I get this error:
http://pastebin.com/eFykZRkf

[2014-12-30 23:20] PneumaticHeal opened #63 "UseProgressiveClear is broken."
Spigot 1.8
Version: 0.15.1

One of my players tried to clear their plot a few minutes ago with /plotme clear and it started throwing up errors.

Here is the the console log
http://upaste.me/b47916752230ccb53

[2014-12-31 22:08] EvilOlaf opened #64 "plot setowner broken"
Setting a new owner of a plot which has been owned before by another player with setowner will cause the new owner is unable to build.

To reproduce:
- Let player X claim a plot
- Let player X try if he can build on his plot
- Set player Y as the owner of the plot with /plot setowner
- Let player Y try if he can build here. He should not be able to do so.
- Set player X as owner again
- Player X s

[2015-01-01 00:57] MattBDev commented on #60
@DeJay6424 is this fixed in 0.15.2 ? Please let me know so I can close this issue

[2015-01-01 00:57] MattBDev commented on #49
Is this fixed in 0.15.2 ? Please let me know so I can close this issue

[2015-01-01 00:58] #34 closed

[2015-01-01 00:58] MattBDev commented on #46
is this fixed in 0.15.2 ? Please let me know so I can close this issue

[2015-01-01 12:37] Burockk opened #66 "cant load DynmapPlotMe.jar"
[14:31:51] [Server thread/INFO]: Set PluginClassLoader as parallel capable
[14:31:51] [Server thread/ERROR]: Could not load 'plugins\DynmapPlotMe.jar' in folder 'plugins'
org.bukkit.plugin.UnknownDependencyException: dynmap
	at org.bukkit.plugin.SimplePluginManager.loadPlugins(SimplePluginManager.java:225) [spigot.jar:git-Spigot-1.7.9-R0.2-208-ge0f2e95]
	at org.bukkit.craftbukkit.v1_7_R4.CraftServ

[2015-01-01 12:38] EvilOlaf commented on #66
[code]

DynmapPlotMe does not work without Dynmap. Get latest Dynmap from dev.bukkit.org

Invalid

[2015-01-01 14:18] Burockk opened #67 "plotme plots.db help pls"
hey

I updated latest plotme ı m using old plots.db it works when ı type /plotme info it says old owner but when owner type /p home it says couldnt find your plot how can ı fix it pls help me pls.

[2015-01-01 14:20] EvilOlaf commented on #67
If you have a backup of your plotme configuration (you really should have!) try to overwrite the actual plots.db (also back it up before) with the old one and restart.
Maybe this solves your problem.

[2015-01-01 14:30] Burockk commented on #67
whats your mean cant understand it :S ı have backups my old config and plots.db now?

[2015-01-01 14:33] EvilOlaf commented on #67
1. get a backup of your plots.db on your server.
2. dig out the old plots.db of your local backup and overwrite the one on your server.
3. do a restart (don't reload, never ever) and test if it works now.

[2015-01-01 14:40] Burockk commented on #67
Happens this everytime :S

[16:33:54] [Craft Scheduler Thread - 27/WARN]: [PlotMe] Invalid name found : byher0,. Removing from database.
[16:33:54] [Craft Scheduler Thread - 27/WARN]: [PlotMe] Invalid name found : cyantr,. Removing from database.
[16:33:54] [Craft Scheduler Thread - 27/WARN]: [PlotMe] Invalid name found : dod2003%. Removing from database.
[16:33:55] [Server thread/INFO]: /78.179.2

[2015-01-01 14:50] EvilOlaf commented on #67
Looks pretty weird.
Use Markdown for better viewability of logs and configs next time: https://guides.github.com/features/mastering-markdown/

Do you run your server in offline mode?

Thanks

[2015-01-01 14:55] Burockk commented on #67
yes offline mod for cracked players

[2015-01-01 14:56] EvilOlaf commented on #67
Then you have a problem. Offline mode is not supported by this release and it is not planned to implement it in near future.

[2015-01-01 15:05] #66 closed

[2015-01-01 15:08] MarkusAV commented on #67
Offline mode is not supported because cracked players do not have a mojang UUID.

[2015-01-01 15:08] #67 closed

[2015-01-02 17:50] MacMeBenny opened #71 "Any idea when gravity will work for 1.8?"
Currently sand, gravel, and slime blocks do not work because the gravity is apparently messed up with the plots plugin. When can we see a fix? We had to convert to PlotsSquared for the time being because of this.

[2015-01-02 21:07] Svenlennox opened #72 "/plotme bugg"
I created a world with /mv create plotworld normal -g PlotMe-DefaultGenerator

but when I do /plotme auto or /plotme I get this
: http://gyazo.com/96e07dcfa5a7a144cdd3fbd0f387a6cc

[2015-01-02 21:11] Svenlennox commented on #72
FIXED! I didnt had the last update of WorldEdit

[2015-01-02 21:11] #72 closed

[2015-01-02 21:13] Svenlennox opened #73 "Permissions Issue"
I did /mangaddp A plotme.use but when I want to do /plotme auto it says Permission Denied

[2015-01-02 21:21] Svenlennox commented on #73
http://pastebin.com/YM96Cxxj

This is my console log

[2015-01-02 21:21] MattBDev commented on #73
I am not sure what /mangaddp is....

[2015-01-02 21:25] Svenlennox commented on #73
Its from GroupManager to add permissions

[2015-01-02 21:25] MattBDev commented on #73
Well the console log didnt help me much but it looks like you are running 1.8 plugins on a 1.7 server and they aren't working properly

[2015-01-02 21:26] Svenlennox commented on #73
What plugins are for 1.8 and am I running on 1.7?

[2015-01-02 21:27] MattBDev commented on #73
Just look at your console. I really shouldn't have to tell you this.

[2015-01-02 21:28] Svenlennox commented on #73
Citizens and Tab arent working, I know that. but is that hiding the PlotMe plugin?

[2015-01-02 21:33] MattBDev commented on #71
I just did several tests on two different servers and I didn't experience gravity not working. Are you using 0.15.2?

[2015-01-02 21:35] MattBDev commented on #73
I can't tell. you didnt give me a full log.

[2015-01-02 21:36] Svenlennox commented on #73
That is the full log?

[2015-01-02 21:38] MattBDev commented on #73
That was not the full log. it clearly cut off. look at your link.

[2015-01-02 21:43] LukeHandle commented on #73
Hey @Svenlennox, if you stop and start your server, a full log will appear in `[ServerFolder]/logs/latest.log`.
(It is worth mentioning that by default that file will reset at midnight each day and after each server start)

If you then upload that file to pastebin, we might be able to help you with your issues. I won't say for sure, but they sounds permission related and possibly outside the scope

[2015-01-02 21:47] Svenlennox commented on #73
Okay, I used that
http://pastebin.com/3Yj7aTk3

[2015-01-02 21:59] LukeHandle commented on #73
Can you also post your PlotMe/Generator configs please.

[2015-01-02 22:02] LukeHandle commented on #73
PlotMe loads fine. Can you confirm that as an OP you can do the command?

[2015-01-03 05:59] termitespit opened #74 "0.15.2 This is not a plotworld Error"
I have PlotMe 0.15.2 and created a world using /mv create plotworld normal -g PlotMe-DefaultGenerator.
When I teleported to the plotworld and did /plotme claim, it said "This is not a plotworld".

[2015-01-03 09:53] vakkq opened #75 "ur plugin is breaked"
if i type /plotme or /p i get /plotme as an answer in chat
i use bukkit/spigot 1.7.10
latest ver of plugin
hosthorde hosting with multicraft panel.

pleez h3lp
![mc1710gifcomplete](https://cloud.githubusercontent.com/assets/10379697/5602106/c1ac4622-9337-11e4-9f81-2b3801d85417.gif)

[2015-01-03 10:04] EvilOlaf commented on #75
Known issue, related to misconfiguration.  Check your logs and the other issue reports with the same problem.

[2015-01-03 10:08] EvilOlaf commented on #74
Make sure that your plot world is correctly entered in your plotme configuration. Also you need to restart your server in order so plotme can recognize your new plot world.
No further information provided like logs, config files, running api.

Therefore invalid

[2015-01-03 16:07] #75 closed

[2015-01-03 16:08] #74 closed

[2015-01-03 16:11] MattBDev commented on #46
No reply so issue is closed

[2015-01-03 16:11] #46 closed

[2015-01-03 16:11] MattBDev commented on #49
No reply so issue is closed.

[2015-01-03 16:11] #49 closed

[2015-01-03 16:12] MattBDev commented on #60
No reply so best assumption is that the issue is closed.

[2015-01-03 16:12] #60 closed

[2015-01-03 17:09] vakkq commented on #75
where r the logs
what do i do
im an idiot plees tell me step by step what do i do
idk where the logs at

[2015-01-03 17:10] vakkq opened #76 "Delete me!"
Pl33z d3let3

[2015-01-03 17:12] vakkq opened #77 "Help with setup"
03.01 10:10:54 [Server] ERROR Error occurred while enabling PlotMe v0.15.2 (Is it up to date?)
03.01 10:10:54 [Server] ERROR Is that a mistake? Try making sure you setup PlotMe Correctly PlotMe to stay safe.
03.01 10:10:54 [Server] ERROR Uh oh. There are no plotworlds setup.
03.01 10:10:54 [Server] ERROR The default generator can be downloaded from
03.01 10:10:54 [Server] ERROR Please ensure that

[2015-01-03 17:20] vakkq commented on #77
Please help i tried:
- Reinstalling Plotme
- Deleting and Re-Generating Plotworld
- Switching from 1.7.10 bukkit to 1.7.9 spigot

[2015-01-03 17:29] MarkusAV commented on #75
Pastebin your configurations and error logs for us please

[2015-01-03 17:31] MarkusAV commented on #76
Ok? I don't have an option to delete your issue, but I can close it.

[2015-01-03 17:31] #76 closed

[2015-01-03 17:34] MarkusAV commented on #77
Read your log.
It says you do not have a plotworld setup, pastebin your configs and full error log thank you.
Also, PlotMe is built for Spigot 1.8
If you have problems setting up PlotMe, read this http://worldcretornica.github.io/PlotMe-Core/setup.html

[2015-01-03 18:39] Durklas opened #78 "Plotme Mobs spawning"
How to allow mobs to spawn from monsters box???

[2015-01-03 18:54] MattBDev commented on #78
Uhhh.... are you in the right place? I am not sure what a "Monsters box" is.

[2015-01-03 20:54] Durklas commented on #78
Hmm, Its Id in minecraft 52

On Sat, Jan 3, 2015 at 10:54 AM, Matt <notifications@github.com> wrote:

[2015-01-03 22:17] josephflan opened #80 "Having trouble when PlotMe starts up"
I'm having a issue when PlotMe Core loads. The DefaultGenerator seems to work fine. I have put the error into a pastebin link below.

http://pastebin.com/PaJwBFge

[2015-01-03 22:27] josephflan commented on #80
Managed to identify the problem myself. There was config setup for a plotworld that wasnt generated yet. It would cause PlotMe core to 'spaz out' and not load.

[2015-01-03 22:43] josephflan commented on #80
Doing the same again now. Seems to be exactly the same error again.

[2015-01-03 23:18] SomewhatDisoriented commented on #64
This was fixed by #79 :)

[2015-01-04 00:05] #80 closed

[2015-01-04 00:35] MattBDev commented on #78
Oh, you mean a mob spawner. Are they not working on plots? On roads they might not work at all. I am not sure what your exact issue is and I can't help you because you didn't explain anything to me.

[2015-01-04 01:23] MattBDev commented on #64
@SomewhatDisoriented Thanks a bunch for the help :smile:

[2015-01-04 01:23] #64 closed

[2015-01-04 04:55] coolty opened #81 "users can WorldEdit on plots that aren't theirs"
Users (non admins) can worldedit anywhere, not only on their own plots. BUT they can only seem to use the //repl tool, other worldedit commands only work on their own plot.

For example, if a user goes to someone else's plot (that they aren't added to) and does //repl 0, and then starts right clicking on blocks on that users plot, it will remove those blocks.
However, the wand only seems to work o

[2015-01-04 07:12] MattBDev commented on #81
Make sure that you are using plotme version 0.15.2 because this issue has been solved in that build.

[2015-01-04 07:12] #81 closed

[2015-01-04 08:20] coolty commented on #81
This isn't fixed, if a user is in gm 3 (spectate mode) they can still mess up other's plots with previous stated commands.

[2015-01-04 08:43] Durklas commented on #78
When I put a mob spawner in my plot, mobs dont spawn from it, If i put it
In survival world they do spawn...My question is How to turn on mob
spawning in plotme?
P.S Srry for my englishn.

On Sat, Jan 3, 2015 at 4:35 PM, Matt <notifications@github.com> wrote:

[2015-01-04 08:53] EvilOlaf commented on #78
Maybe that problem is not related to plotme. Did you set monsters on  multiverse on false or set in world guard mob-spawning to deny?

Could not test myself yet.

[2015-01-04 08:56] EvilOlaf commented on #81
Can you provide a full startup log to find possible incompatibilities? It also would show us which versions of plugins you are using.

[2015-01-04 09:00] coolty commented on #81
http://pastebin.com/raw.php?i=gAbJXZQ3

[2015-01-04 09:16] Durklas commented on #78
I changed the difficulty from peaceful to hard maybe this will solve the
problem.

On Sun, Jan 4, 2015 at 12:53 AM, EvilOlaf <notifications@github.com> wrote:

[2015-01-04 17:26] #78 closed

[2015-01-04 18:11] MarkusAV commented on #80
These may fix your problem:
* Update WorldEdit to 6.x
* Remember to write your plotworld in all lowercase in the config
* PlotMe 0.15 works best on Minecraft 1.8 Spigot/Craftbukkit
* Offline servers are not supported

[2015-01-04 18:25] MarkusAV commented on #78
PlotMe doesn't deny creature spawning. Check other plugins such as multiverse, multiworld, Essentials, worldguard..,

[2015-01-04 20:09] EvilOlaf opened #82 "Error creating plot world"
I know that title is pretty common, but this time I have an other and more ugly error.
Afair generation worked with 0.15.0.

http://pastebin.com/DjFR1wJf

PlotMe 0.15.2 @Spigot 1.8, build from 31.12.

[2015-01-04 20:12] EvilOlaf opened #83 "Bedrock missing"
The bedrock below the plotworld is missing or better said the first layer is dirt. The plotworld has been generated with 0.15.0, therefore I don't know if that has been fixed already.
When I reset or clear a plot the bedrock appears.

Here is the look from below the world: http://www0.xup.to/exec/ximg.php?fid=90071697

[code]

[2015-01-04 20:40] MattBDev commented on #83
I believe I fixed this in 0.15.2 generation. If not, let me know.

[2015-01-04 20:40] #83 closed

[2015-01-04 20:43] MattBDev commented on #82
This is most likely because it couldn't find a world by that name in your generator config. I should add a check for that and have that default to the normal settings.
Let me know if this helped you

[2015-01-04 21:00] Bobcat00 opened #84 "/p list player not working"
PlotMe 0.15.2, CraftBukkit version git-Bukkit-53fc3cf (MC: 1.8)
If I issue the command:

/p list playername

I get the following output:

List of plots where playername can build
World:plotworld

But no plots are listed.  I do get a list of my plots if I use my name or leave off the playername.

[2015-01-04 21:05] EvilOlaf commented on #83
Yep, is fixed.

[2015-01-04 21:08] EvilOlaf commented on #82
Yes, that worked. I needed a restart till PlotMe-DefaultGenerator recognized the changes in the config file but it worked.
I think creating the world just with default settings is a pretty good idea.

How about this: If someone tries to create a new plot world with a name which is unknown in the config file the world will NOT be generated but a new entry in the config will be written. A message to

[2015-01-04 21:09] #82 closed

[2015-01-04 21:10] MarkusAV commented on #84
You need to specify the full playername.
Offline servers are not supported by the way.

[2015-01-04 21:35] Bobcat00 commented on #84
The server is online and I did specify the full player name.

[2015-01-04 21:54] Kryptonix2Shot opened #85 "Commands not working"
I have a plotworld created but when ever I try to use the /plotme command it only shows a white message in chat saying /plotme.

Spigot Version: git-Spigot-3ffce45 (1.8-R0.1-SNAPSHOT)

Here is a picture of the message along with the console error on startup
![asd](https://cloud.githubusercontent.com/assets/10392950/5607678/852b58ba-9421-11e4-84fd-5e8b4ab5de71.PNG)
![console](https://cloud.githubus

[2015-01-04 23:50] UpHeldNetwork opened #86 "How do i create a plotme world WITHOUT multiverse-core."
I would really appreciate it if someone could please tell me how to create a plot world WITHOUT using multiverse-core. Thank you in advance.

[2015-01-05 02:13] MattBDev commented on #86
This is in the instructions and this is not really a bug. Please do not post here unless you have a bug to report.

[2015-01-05 02:17] MattBDev commented on #86
http://worldcretornica.github.io/PlotMe-Core/setup.html

[2015-01-05 02:17] #86 closed

[2015-01-05 02:18] MattBDev commented on #85
You are not using the right version of WorldEdit. Also, try opping yourself and using a command. If you can't execute a command while opped you have a serious issue.

[2015-01-05 02:18] #85 closed

[2015-01-05 02:20] MattBDev commented on #82
@EvilOlaf unfortunately that is not possible at the present time.

[2015-01-05 03:58] coolty commented on #81
Hi,

Is there any update on this?

[2015-01-05 05:39] MattBDev commented on #81
No update because I am not sure why you would give the gamemode command to players. Also spectator mode is a bit bugged in Spigot/Bukkit

[2015-01-05 05:42] coolty commented on #81
I just tested it again without the use of gamemode, can still edit the roads/other plots that access isn't granted to. Even with latest version that supposedly fixed this issue.

[2015-01-05 05:59] MattBDev commented on #81
No one but you is reporting this issue.Make sure you don't have the permissions to weanywhere or have that activated with the command.

[2015-01-05 06:01] coolty commented on #81
http://wiki.sk89q.com/wiki/WorldEdit/Permissions
I'm not seeing any permission "weanywhere" listed for worldedit. I think perhaps that was an old permission node that doesn't exist anymore?

[2015-01-05 06:03] MattBDev commented on #81
This is in Plotme, not worldedit....

[2015-01-05 06:04] coolty commented on #81
Oh, okay. No, no users have that permission node. I can set up a debug server if you would like to test it out yourself.

[2015-01-05 06:08] coolty commented on #81
Besides, if they had the "weanywhere" permission node, they would be able to do other worldedit selection and editing to other plots/roads. It wouldn't be limited to just the replace tool.

[2015-01-05 06:11] MattBDev commented on #81
Do you have "defaultweanywhere" set to true?

[2015-01-05 06:12] coolty commented on #81
No, I don't. And like I said above if that was the case they would be able to literally use worldedit anywhere, not just the replace tool.

defaultWEAnywhere: false

[2015-01-05 06:12] MattBDev commented on #81
I am testing this right now on a private server.

[2015-01-05 06:13] coolty commented on #81
Okay, thank you for taking the time to test this.

[2015-01-05 06:16] MattBDev commented on #81
After testing, I have not been able to reproduce this issue. Are you using plotme 0.15.2 and worldedit 6?

[2015-01-05 06:18] coolty commented on #81
Yes, indeed I am.

Here is a startup log of my server: http://pastebin.com/raw.php?i=gAbJXZQ3

I am using the latest build of WorldEdit 6 from their build server, and 0.15.2 of plotme.

[2015-01-05 06:18] MattBDev commented on #81
I think this may be caused by AsyncWorldEdit. I am going to submit a patch to them to fix a possible incompatibility.

[2015-01-05 06:19] coolty commented on #81
That's kinda what I figured, which is why I mentioned it just in case it was related to using that.

Thank you for your time, and please let me know via this thread when I should update.

[2015-01-05 06:30] MattBDev commented on #81
There should be a config option in asyncworldedit that is called "plotMeFixEnabled". Set that to false.

[2015-01-05 06:34] coolty commented on #81
I just tried that, same problem.

[2015-01-05 06:38] MattBDev commented on #81
I would contact the developer of AsyncWorldEdit. Tell them I sent you to them because they are modifying PlotMe Classes and it is most likely causing these issues. If they complain about the PlotMe API, tell them it will get better in the next version but you need help now. (I got complaints about the api. You don't need to say anything about that really...)

[2015-01-05 06:39] coolty commented on #81
Okay, I will do that. Thanks for your efforts in testing and narrowing down this issue!

[2015-01-05 07:01] coolty commented on #81
here is the issue thread in case you want to watch it:
https://github.com/SBPrime/AsyncWorldEdit/issues/66
(and chime in with any information I may not know)

[2015-01-05 07:28] SBPrime commented on #81
@MattBDev Could you elaborate more what did you mean by "modifying PlotMe Classes"? I only use your API to force mask update that's all. And what's the "possible incompatibility"?

[2015-01-05 07:35] EvilOlaf commented on #82
So we've got a possible enhancement for the future :D

[2015-01-05 07:53] coolty commented on #81
Hi, I just tested this without AWE or AWE injector installed, and the issue still happens. So I am stumped once again...

[2015-01-05 18:49] #71 closed

[2015-01-05 18:50] #77 closed

[2015-01-05 18:51] #7 closed

[2015-01-05 18:52] #1 closed

[2015-01-05 18:53] #73 closed

[2015-01-05 20:07] MegaNarwhal opened #88 "Metadata lock"
Upon trying to optimize my MySQL tables with ```mysqlcheck --optimize -A```, all other plugins have no issue but PlotMe hangs. ```mysqladmin processlist``` reveals that it's stuck at waiting for a table metadata lock on the plotmeAllowed table. Only a minor annoyance but I thought I should report it.

[2015-01-05 20:22] mttprvst13 opened #89 "Fire"
I am trying to use MV and an MV sign portal to teleport between a plot world and a normal world. When ever I try to set a fire for a nether portal to teleport to the normal world from the plot world the fire goes out so fast that the portal can't light. PLZ HELP!
[Pastebin] (http://pastebin.com/vbzsriyW)

[2015-01-05 21:03] EvilOlaf commented on #89
It is recommended to use Bukkit/Spigot 1.8 for PlotMe 0.15.x.
If you want to stay at 1.7 you should use 0.13f which can be downloaded here: http://dev.bukkit.org/bukkit-plugins/plotme/files/36-v0-13f/

[2015-01-05 21:09] mttprvst13 commented on #89
Alright ill try, will it still work with my current stuff?

[2015-01-05 21:13] EvilOlaf commented on #89
In order to use dynmap with your plot world you need to get the older dynmap addon for plotme. The one shipped with 0.15 would not work.

Also you may need to downgrade WorldEdit to 5.x. You can try running WorldEdit6. If everything works fine just leave it that way. Otherwise get the latest WE5 version.
That should not affect your other plugins.

[2015-01-05 21:15] mttprvst13 commented on #89
Alright I'm getting PlotMe 0.13f after I backup my server.

[2015-01-05 21:22] EvilOlaf commented on #89
Very commendable.

[2015-01-05 21:24] mttprvst13 commented on #89
Ya I just started my server with the later version of Dynmap, getting the older one. And thank you SO incredibly much for all your help, it really means a lot to me.

[2015-01-05 21:28] mttprvst13 commented on #89
Which version of dynmap should I get exactly?

[2015-01-05 21:30] EvilOlaf commented on #89
Misunderstanding. You dont need to downgrade dynmap itself, just the plotme addon for it ;)

@MattBDev I don't know if there is a problem with fire, hard to imaginate. For my part I could not reproduce.

[2015-01-05 21:31] mttprvst13 commented on #89
alright, which version, 0.2 or 0.1?

[2015-01-05 21:35] EvilOlaf commented on #89
Here you go: http://dev.bukkit.org/bukkit-plugins/dynmapplotme/
Grab the latest version.

[2015-01-05 21:36] mttprvst13 commented on #89
alright, Thank you so much ;-)

[2015-01-05 21:37] mttprvst13 commented on #89
Yep, that fixed the dynmap problem, thank you for that.

[2015-01-05 21:38] mttprvst13 commented on #89
but the fire is still not working :'(

[2015-01-05 21:43] EvilOlaf commented on #89
Then I have no idea. I am sure that this is not related to PlotMe because I know definitely that fire works with 0.13f.
Check EssentialsProtect and EssentialsAntiBuild for any settings that prevent fire. Maybe you can find the problem there. I can not help you with them because I never used them.
Also check if you have all needed build permissions for your plot world.
Are you op? Did you try to us

[2015-01-05 21:44] mttprvst13 commented on #89
I am now getting this error:

[code]

[2015-01-05 21:46] EvilOlaf commented on #89
Known exception. Is related to WorldEdit 6. Just try if it affects your gameplay. If not, ignore it.

[2015-01-05 22:50] MattBDev commented on #81
@SBPrime When releasing PlotMe-Core I was afraid of whatever you did to patch the worldedit 6 bug would mess something up for users. I don't know if it would because I didn't look through enough of the code. I didn't realize that you added support for Plotme-Core, I haven't looked at your repo recently.

[2015-01-05 22:50] MattBDev commented on #81
@coolty I think it is just you.

[2015-01-06 00:55] Bobcat00 commented on #89
"a fire for a nether portal to teleport to the normal world from the plot world"

I think you'll find that if you get the portal lit, it won't work as you expect.  CraftBukkit sees the lit portal, gets confused and teleports the player to the Nether instead of your intended destination.  You can fill the portal with water if you want some sort of effect.  Multiverse-Portals will contain the water

[2015-01-06 01:18] MattBDev commented on #89
Portals won't lite if the plotworld is not your default world.

[2015-01-06 01:18] #89 closed

[2015-01-06 02:03] MattBDev commented on #88
I don't know much about MySQL but I will look into this.

[2015-01-06 09:03] SBPrime commented on #81
@MattBDev All I did was to force mask recalculation before each WE command thats all. This is not a WE 6 bug you can experience it on all versions. If you are refering to the mask class change I did nothing to add commpatibility for old versions.

[2015-01-07 15:58] dannyiscool4 opened #90 "errors"
i cant execute a command with /plotme auto or claim he says its not a plotworld en gives errors

[07-01 16:56:47 ] [Server] ERROR null
[07-01 16:56:47 ] [Server] [Informatie] org.bukkit.command.CommandException: Unhandled exception executing command 'p' in plugin PlotMe v0.15.2
[07-01 16:56:47 ] [Server] [Informatie] at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spigot1.8.ol

[2015-01-07 16:02] MattBDev commented on #90
Please refer to the guide on the resource page for fixing this.

[2015-01-07 16:02] #90 closed

[2015-01-07 16:02] EvilOlaf commented on #90
Whenever you post logs or errors either use markdown or pastebin, please. Noone likes to look at this unformatted waste.

[2015-01-08 11:33] TheAwsomeMiner2 opened #91 "Nothing Working??"
PlotMe in't working on my server i have used it in the past many times but now its not liking me
Pastebin Logs
http://pastebin.com/fkwWEXjv

[2015-01-08 12:40] MattBDev commented on #91
Your server jar is extremely broken and you have a few other plugin issues. Not a plotme issue so I am closing this ticket.

[2015-01-08 12:40] #91 closed

[2015-01-10 01:02] LegitRedStoner opened #92 "Someone please help, I'm having an issue installing plotme."
Someone please help, I'm having an issue installing plotme.

http://gyazo.com/431bafe072f94a2f1d080d750c6f371d

[2015-01-10 02:10] MattBDev commented on #92
You need worldedit 6.

[2015-01-10 02:10] #92 closed

[2015-01-10 02:29] LegitRedStoner commented on #92
ty

[2015-01-10 02:29] LegitRedStoner commented on #92
Would you consider posting that on the plotme download page? it doesn't say it anywhere.

[2015-01-10 03:07] MattBDev commented on #92
I have pushed a minor update that warns users and fixes this error from appearing.

[2015-01-11 07:40] barthasaurus opened #93 "internal server error"
hey! I used your latest version for my minecraft server and it has mods. It says that has an internal server. But I tried using your 1.7.9 version on the bukkit website and it works perfectly except for the world edit. Do you have any idea on how to fix this? Im using Tekkit version 1.2.9e on mcprohosting.

[2015-01-11 16:34] EndWar3281 opened #94 "Error with /plot reset"
I banned a player and typed in /plot reset.
It said Plot cleared.
and Internal server error.

http://pastebin.com/NnZqG4Vd

[2015-01-11 16:40] unon1100 commented on #50
Any update on this?

[2015-01-11 17:26] MarkusAV commented on #93
Pastebin the error

[2015-01-11 21:21] Maescool opened #95 "world.getName() throws a nullpointer"
When running the current master version on the latest spigot version git-Spigot-081dfa5-1a84bac, I'm getting the following errors: http://www.hastebin.com/cabasimafa

Backtracing as far as I could.. for some reason the world.getName() returns a null..
couldn't figure out exactly why.. not familiar enough with the code of this plugin..
Just thought mentioning it..  My guess is the changes of IWorld

[2015-01-12 04:11] barthasaurus commented on #93
11.01 22:10:53 [Server] INFO ... 13 more
11.01 22:10:53 [Server] INFO at org.bukkit.command.PluginCommand.execute(PluginCommand.java:44) ~[PluginCommand.class:git-Cauldron-MCPC-Plus-1.7.10-1.1231.01.207]
11.01 22:10:53 [Server] INFO at com.worldcretornica.plotme_core.bukkit.BukkitCommand.onCommand(BukkitCommand.java:105) ~[?:?]
11.01 22:10:53 [Server] INFO at com.worldcretornica.plotme_core.comman

[2015-01-12 04:11] barthasaurus commented on #93
Thats what it says when I do /plot

[2015-01-12 11:42] MarkusAV commented on #93
Next time either use Pastebin or markdown
You gotta use an older version of PlotMe (0.13b) available at dev.bukkit.org/bukkit-plugins/plotme/
Can't tell if you're using an online or offline mode server.., PlotMe 0.13f> only supports Online Mode. PlotMe 0.15.x is built for Spigot/Craftbukkit 1.8 and has not been tested on modded servers

[2015-01-12 16:53] MattBDev commented on #50
I still need to contact zachbora about this. I would recommend just setting the dependency locally because I cannot guarantee that the repository version would be compatible with the current version

[2015-01-13 20:42] Dignition commented on #93
13.01 21:41:41 [Server] INFO ... 14 more
13.01 21:41:41 [Server] INFO at org.bukkit.command.PluginCommand.execute(PluginCommand.java:44) ~[spigot.jar:git-Spigot-e497721-96d09e3]
13.01 21:41:41 [Server] INFO at com.worldcretornica.plotme_core.bukkit.BukkitCommand.onCommand(BukkitCommand.java:105) ~[?:?]
13.01 21:41:41 [Server] INFO at com.worldcretornica.plotme_core.commands.CmdShowHelp.exec(CmdSho

[2015-01-13 20:43] Dignition commented on #93
Then "internal server error" up

[2015-01-13 20:58] EvilOlaf commented on #93
What did you do when the error occoured?
What version of Bukkit are you running?
What about using Markdown or Pastebin?

Different cause? Might have nothing to do with the topic issue.

[2015-01-13 23:41] MarkusAV commented on #93
Posting an error is not the only thing to do when you have a problem. How did you get that error? Is your configs correct(are the plotworlds in lowercase)? Are you on Bukkit/Spigot 1.8? Are you running an online mode or offline mode server?... etc.

[2015-01-14 20:16] Foorack opened #96 ""You are not allowed to press buttons on roads" in a non-plot world."
I think the title explains it all. We are running latest version of both plotme and spigot.
We have one plot world and one non-plot world.

I have no idea what information I should post so just tell me and I will do my best. ;)

Kindly Regards
Foorack

TBE

[2015-01-14 21:20] SecretlyJealous opened #97 "Plot Trust and Plot Add"
/Plot Add <username> - Players can only build on the owners plot when the plot owner is online.
/Plot Trust <username> - Players trusted on a plot can build even when the plot owner is offline.

[2015-01-14 23:13] MarkusAV commented on #96
Let me just ask you exactly what the issue was.., When you are in your non-plotworld world and press a button it returns "You are not allowed to press buttons on roads"?
I got some questions you could answer as well; WorldEdit version? Offline/online mode? Errors in console?

[2015-01-14 23:40] Maescool commented on #95
Fixed since d9d54b453dbb4d8a498b83a8291094c085fe4a36

[2015-01-14 23:40] #95 closed

[2015-01-15 00:08] MattBDev commented on #97
If the player is added to the plot, would they be able to build on it when the user is offline?
If not, it seems dumb to have to give them building access to the plot twice

[2015-01-15 00:15] MattBDev commented on #96
There is no message for that or something similar to that in the default captions. Please provide specific version number.

[2015-01-15 03:34] ATon2 opened #98 "PlotMe cannot recognize world/not a plot world"
Hello,

For some strange reason when two out of my five or so worlds do not recognize as a plotworld upon startup. They have the same config and are using PlotMe-DefaultGenerator as their generator in multiverse-core.

Server Log: http://pastebin.com/QPYs7sJB
PlotMe Config: http://pastebin.com/9K3U5yEU
PlotMe Generator Config: http://pastebin.com/nm8yrRiP
Multiverse Worlds Config: http://pastebin.

[2015-01-15 04:20] gustebeast opened #99 "Plot world with PlotMe Generator"
I have a freebuild world which I keep part plotme part regular creative. Basically I have a large square in the center of the map filled with plots, then outside that square I have regular map. I did this by first generating using plotme, then switching back to the normal generator. With the old plot me, this wasnt a problem (I gave the players I wanted to be able to build outside the box permissi

[2015-01-15 04:47] MattBDev commented on #99
Support is disabled if the generator is not built upon the PlotMe-AbstractGenerator. This is how clearing, generating, and plot boundaries are detected. Unless someone builds a generator that allows for a normal world type of generation, this in't possible.

[2015-01-15 04:50] MattBDev commented on #99
The generator was separated so lots of different plotworld generation possibilities can be made. That was a big limitation on the previous generator. Doing what you ask would require a lot of "hacky" type of code and require depending on CraftBukkit instead of bukkit, which causes compatibility issues.

[2015-01-15 05:13] MattBDev commented on #98
Try reloading the server. if it still does not like them, try to add the generator in the bukkit.yml file and see if it works. If none of that works. let me know because I think that this may be a valid issue.

[2015-01-15 05:46] ATon2 commented on #98
None of that seemed to work.

[2015-01-15 05:51] MattBDev commented on #98
Thanks for this report. I will be trying my hardest to fix this.

[2015-01-15 13:20] MarkusAV commented on #98
Not that I think it would do anything, but why do you have a double "PathWidth" property in the defaultgenerator settings?

[2015-01-15 13:27] MarkusAV commented on #36
A command could also be ideal, such as "/plot middle" that would just tp the player to the middle.., would be easier and players could find the middle infinite times (if they removed the middle blocks)

[2015-01-15 13:29] ATon2 commented on #98
Ahh that must be from when I attempted to copy and paste the world Config from a working plot world to the broken ones. Regardless, the worlds that are broken are plotworld and rankworld. Rankworld does not have the double path width yet is still broken.

[2015-01-15 16:01] MattBDev commented on #98
I will try to fix the issue. It is due to some messy code that can be written more efficiently.

[2015-01-15 16:31] SecretlyJealous commented on #97
If a player is not added to a plot but only trusted to a plot they should be able to build on it even when the owner is offline. This feature would be great because it prevents a lot of greifing.

[2015-01-15 18:06] MarkusAV commented on #98
Closing this, you might want to add it to the 0.16 milestone?

[2015-01-15 21:50] Foorack commented on #96
This issue can be deleted as "iccorectly" or "issue not exisiting".

The issue does still exist but the cause of it was not plotme.
The server I was helping have a custom written plugin called "PlotMeAddon" which was the source of the bug, (I had not been informed of this)...

Sorry for taking up your time.

Regards, Foorack.

[2015-01-15 21:50] #96 closed

[2015-01-16 03:42] SuperAthleteRox opened #100 "PlotMe Permission Problem"
For some reason, I am unable to set a plot limit to a particular group. For my server's default group, I have added the permission 'plotme.limit.1' but users of the default group can still claim more than 1 plot. I have looked everywhere for help, but there is not a hint of help anywhere.
I am using Bukkit, PlotMe (obviously) and PermissionsEx as my permissions plugin.

Thanks for the help in adva

[2015-01-16 12:17] MarkusAV commented on #100
In your plotme configuration files, is the plotworld in all lowercase letters?
It could also help reinstalling PlotMe

[2015-01-16 17:28] GotScrub opened #101 "Plot doesn't exist."
Whoever helps me out, thank you for trying.

So I use MultiVerse along with PlotMe on my Prison server I've been working on recently. The plotme works absolutely perfect other than the fact that other non-opped people can't /plot h username and tp to someone else's plot. It tells them the plot doesn't exist.
At first, I thought it was a problem with Multiverse so we even tried it while they were i

[2015-01-16 18:15] LucienAclantis opened #102 "Mods block generation"
I use mods and plugins at the same time so it's like a cauldron serveur and i generate it with multiverse:

/mv create {NAME} normal -g PlotMe-DefaultGenerator

the generation dont applicate. is there a solution to this problem? is there a way to force the generation with plugins?
ps: the plugins works fine without mods, i use the modpack : resonant rise

[2015-01-16 20:19] GotScrub commented on #101
Bump?

[2015-01-16 21:32] MarkusAV commented on #102
Are you saying that everything works fine when you run a server without mods?

[2015-01-16 21:37] SuperAthleteRox commented on #100
No, it isn't, I actually renamed the world to 'Creative' to make it easier for me. I will try reinstalling, thank you so much for the help!

[2015-01-16 21:42] MarkusAV commented on #101
Sorry for late answer.
Are you saying that players can't tp to other players plots? If so, they need to have the required permission nodes that can be found at http://worldcretornica.github.io/PlotMe-Core/cp.html
If you allready have given the permission nodes but it still doesn't work, check if your plotworld name is in all lowercase in the configurations

[2015-01-16 21:43] MarkusAV commented on #100
Make it all lowercase in the configuration :)

[2015-01-16 21:43] #100 closed

[2015-01-16 21:48] MattBDev commented on #102
Cauldron is no longer supported due to the DMCA takedown and the project is no longer maintained. I have heard that some biome mod breaks support but I will not fix this.

[2015-01-16 21:48] #102 closed

[2015-01-17 05:37] GotScrub commented on #101
Yeah, I'm saying they can't tp other player's plots, it says something along the lines of 'that plot doesn't exist'. They do have all the perm nodes given to them and the plotworld name is lowercase in the config.

[2015-01-17 13:02] SBPrime opened #103 "Plot clear causes exception"
I was testing plotMe progressive clear.

After invoking ___/plot clear___ there was no message. The console started logging:

    [13:25:52 INFO]: [PlotMe] Plot §a0;0§r in §aworld§r is §a0% §rcleared (§a50.0k§r/§a2.0M§r blocks)
    [13:26:02 INFO]: [PlotMe] Plot §a0;0§r in §aworld§r is §a0% §rcleared (§a100.0k§r/§a2.0M§r blocks)
    [13:26:12 INFO]: [PlotMe] Plot §a0;0§r in §aworld§r is §a0% §rcle

[2015-01-17 13:28] XeliroX opened #104 "I can't make a PlotWorld!"
When I write "/mv create plot normal -g -PlotMe-DefaultGenerator"
it's write "Starting creation of world 'plot'..."
and 1 sec later it's write "FAILED" WHy :O help please!

[2015-01-17 13:33] #104 closed

[2015-01-17 21:26] SBPrime opened #105 "Plot sell - price does not display"
When doing __plot sell__ or __plot sell  \<price\>__ the price is no where visible.

[2015-01-17 22:13] MattBDev commented on #105
Where is it not visible? On the sign or in chat after executing the command?

[2015-01-17 22:14] MattBDev commented on #103
Thanks for the report. I like how you made it detailed :)

[2015-01-17 22:19] #63 closed

[2015-01-17 22:21] #93 closed

[2015-01-17 22:27] MarkusAV commented on #101
Have you modified the captions file? There is no message in PlotMe that says "that plot doesn't exist", or "that plot" at all. Do you have any other plugins that could have done this? You'd also have to type the full username of the player that you are going to, eg. you need to do /plot home Notch not /plot home Not

[2015-01-17 22:29] MarkusAV commented on #104
Guessing you figured this out yourself.

[2015-01-17 22:32] MarkusAV commented on #63
You should update to PlotMe 0.15.2 by the way.

[2015-01-17 22:42] GotScrub commented on #101
Yeah, updated problem. I tested it out myself this time rather than my player's POV. I tried it while not being opped and with normal default group permissions. Now when I do /p h username or /plotme h username or /plotme home username, etc. Of any username, it teleports me back to my plot.

And I think what they meant by the plot doesn't exist is the message that says "Username" doesn't have a pl

[2015-01-17 22:54] GotScrub commented on #101
I can also send you a list of all the plugins I have and you could skim over it and see if there's any obvious interferences if you have the time?

[2015-01-17 22:56] MarkusAV commented on #101
Won't need that - Have you checked if the player you are trying to tp to have a plot at all?

[2015-01-17 23:02] MattBDev commented on #101
Here is the command format for going to another players plot:
/plotme home:1 <world> <playername> or /plotme home:1 <playername>

[2015-01-18 01:06] GotScrub commented on #101
I did /plotme home:1 playername and /plotme home:1 [world] playername. Neither worked, it's just bringing me to the plotworld spawn now, not even my own plot anymore.. And yes, the player I'm trying to go to does have a plot.

[2015-01-18 08:58] SBPrime commented on #105
On the signs. After executing the command a new sign is added to the plot and the border changes and that's all. The player receives a proper message in chat.

[2015-01-18 09:49] MarkusAV commented on #101
Would you mind giving me the IP to your server so I could test this myself?
Are you also running the latest Spigot and PlotMe version?

[2015-01-18 15:09] XeliroX opened #106 "[PlotMe] Permission denied"
Hey Everyone! I just set all the Permission in GroupManger but it doesn't work D:
Can Someone show me how to do it ? Thanks

[2015-01-18 15:48] MattBDev commented on #105
That is a cause of me being stupid. Thanks for letting me know.

[2015-01-18 15:50] SaDb0y opened #107 "Internal Server Error"
Hi.
I am getting errors after upgrading.
Here is a log when executing /p setowner
http://pastebin.com/UtBwBdJk
And when executing /p home it says I don't have any plot, while when I try to /p info on my plot it says the owner is me, it's like all the plots owners were deleted but they aren't.
The datebase isn't deleted though.

I did all the instruction for upgrading from v13 to v15.2 perfectly, t

[2015-01-18 15:53] SaDb0y commented on #107
My spigot build is 1649, the 1.7/1.8 protocol.
WorldEdit is updated too.

Did I do a mistake by upgrading it cause v15.2 is for 1.8 only?

[2015-01-18 15:55] MattBDev commented on #107
yes

[2015-01-18 15:55] #107 closed

[2015-01-18 15:55] #106 closed

[2015-01-18 16:20] SaDb0y commented on #107
So is it safe to downgrade it?
And how?

[2015-01-18 17:01] MattBDev commented on #107
Yes it is safe.
No it is not compatible with worldedit 6.

[2015-01-18 18:30] GotScrub commented on #101
I'm using 1.7.10 Bukkit and the corresponding version of PlotMe. At least I believe I am.

My server IP though is: 142.4.218.166:25598

You should be able to do /plotme auto upon joining and all. And then you can test out trying to go to the plots: Orthdntst_ GotScrub

If you need to see plugins, just do /? and what not, you probably already know that. If you need to see any of my configs, please

[2015-01-18 19:32] MattBDev commented on #101
The issue is a typo in version 0.13f. This is an issues forum for 0.15+. This has been fixed in the newer versions if you choose to update.

[2015-01-18 19:32] #101 closed

[2015-01-18 20:07] GotScrub commented on #101
Okay, well may I use this same issue thread in order to talk about my new issue? I took your advice and upgraded to .15. I downloaded the newest .zip folder and I wasn't quite sure how to install these so I dragged the whole .zip into my plugins folder after deleting my older version of plotme. (.13f). That didn't work so I tried dragging in all the .jars in the .zip into my plugins folder and tha

[2015-01-18 20:11] MattBDev commented on #101
There are instructions on the resource page that you need to follow in order to upgrade to the new version of plotme.

[2015-01-18 20:11] MattBDev commented on #101
PS You don't need PlotmeDynmap unless you have Dynmap installed.

[2015-01-18 20:26] MacMeBenny opened #108 "PlotSquared Converter"
This plugin is horrible which I converted too and I'm wondering if there's a way to convert back?

[2015-01-18 20:44] GotScrub commented on #101
Following it now. Why isn't the Bukkit plugin finder updated to .15? You guys don't like Bukkit anymore or? I know you moved your page to Spigot, but.

[2015-01-18 21:02] GotScrub commented on #101
Okay, I followed the PlotMe | Upgrading steps to try and upgrade. I believe I did upgrade considering the commands are all working fine and everything. Yet, I'm now back to the original problem. It teleports me to my own /p h when I do /plotme home username or /plotme home:1 username or /plotme home:1 world username or /p h username or /plot h username or /plotme h username. I've tried on multiple

[2015-01-18 21:04] EvilOlaf commented on #108
The best way to convert back from any change is to use the backup which you created before.

[2015-01-18 23:44] MacMeBenny commented on #108
So there is no way to currently convert PlotsSquared to PlotMe?

On Sun, Jan 18, 2015, 4:04 PM EvilOlaf <notifications@github.com> wrote:

[2015-01-18 23:47] MattBDev commented on #108
No but I feel like I should make a conversion method

[2015-01-18 23:54] MacMeBenny commented on #108
That would be awesome honestly lol - this other plugin is horrible.

On Sun, Jan 18, 2015, 6:47 PM Matt <notifications@github.com> wrote:

[2015-01-18 23:56] MacMeBenny commented on #108
I know I'm not top priority but would there be an estimated time of
completion for the converter?

On Sun, Jan 18, 2015, 6:53 PM Zach K. <macmebenny@gmail.com> wrote:

[2015-01-19 00:16] MattBDev commented on #108
@MacMeBenny Depends on how many bugs get fixed. By February most likely.

[2015-01-19 04:35] srut2000 opened #109 "Compatibility issues"
I can get plotme to spawn a world but when you get into the world it is just a normal biome.
I was wondering is it because i have the Biomes'OPlenty mod on the server at the same time?

[2015-01-19 04:43] MegaNarwhal opened #110 "Per-world claim permissions"
Using PlotMe 0.15.2, PermissionsEx 1.23.1. I'm trying to add a second plot world restricted only to users above a certain rank. I negated the `plotme.use.claim` and `plotme.use.auto` permissions in that world for ranks that should not be able to claim and only granted them to the ranks I wish to be able to claim in it. However, lower ranks are still able to obtain a plot in the world by using `/pl

[2015-01-19 04:47] MattBDev commented on #110
you should be able to stop this by setting allowWorldTeleport to false.

[2015-01-19 04:47] MattBDev commented on #109
Yes.

[2015-01-19 04:47] #109 closed

[2015-01-19 04:49] srut2000 commented on #109
So how do i get it working

[2015-01-19 04:52] srut2000 opened #111 "How To allow Plotme to work with Biomes'OPlenty"
So How do I fix It

[2015-01-19 05:44] #111 closed

[2015-01-19 05:45] MattBDev commented on #111
Don't spam the issues section it is annoying and gives me a hard time. The only way to fix it is to stop using Cauldron.

[2015-01-19 08:58] GoldPvP opened #112 "Schematic gen"
Is there a way to create worlds using a schematic?

[2015-01-19 12:15] MattBDev commented on #112
Not yet. it is in my todo list.

[2015-01-19 12:15] #112 closed

[2015-01-19 14:59] MarkusAV commented on #106
This is not a PlotMe issue. However, I could help you, just pastebin and reply here with your GM's globalgroups(if you're using it) and the groups.yml that you need help with.

[2015-01-19 15:04] MarkusAV commented on #101
Are you still at 1.7.10?

[2015-01-19 16:14] GotScrub commented on #101
So is there no way for me to use PlotMe without 1.8? :( I'd love to upgrade but a ton of people still use 1.7.10 and all my plugins are for 1.7.10 since that's what I was building for.

[2015-01-19 16:15] EvilOlaf commented on #101
There is. Get 0.13f from dev.bukkit.org

[2015-01-19 16:15] MattBDev commented on #101
There are ways to update without 1.8 but I highly recommend using 1.8

[2015-01-19 19:27] GotScrub commented on #101
EvilOlaf, I tried that but they said that the problem I was having, discussed in this issue, was a bug inside of .13f so I updated to .15 but now .15 isn't compatible with 1.7.10...

[2015-01-19 21:15] RobbinTH opened #114 "Problem"
Hey guys,

I have a problem with plotme. I'm running the newest version, i just clicked the download button.
So, the problem is:
If i typ /plotme it says /plotme back, and i cant do any command. I have al the permissions and i'm op.
Can someone tell me what did i wrong ?
Sorry for bad English, i'm dutch ;-)

RobbinTH

[2015-01-20 00:19] MarkusAV commented on #114
Hi Robbin, when you installed plotme, did you only drag over the PlotMe-Core.jar? You need to have the PlotMe-DefaultGenrrator as well! If this doesn't fix your issue, check your console log for any errors. You also want to make sure that:
* Plotworld names are in lowercase in the configs
* Your server is in online mode
* Using worldedit 6.x
* Highly recommended: Spigot 1.8

[2015-01-20 00:20] MattBDev commented on #101
Did you even give the players permissions to teleport to other plots? That is a different permission from plotme.use

[2015-01-20 00:26] MarkusAV commented on #109
Remove the Biome'OPlenty plugin or get a per-world-plugin plugin

[2015-01-20 12:41] Lumindor opened #115 "Error PlotMe Limits not functioning"
Hey there,
Was testing PlotMe on Spigot 1.8, I have given the permission node plotme.limit.2 to the player permissions.
However when they claim in the world they are able to keep claiming and the Limit doesn't change or limits the player from claiming more than 2 plots.

Screenshot: http://i.imgur.com/1YeGmXg.png

[2015-01-20 13:21] MattBDev commented on #115
I am looking into this right now.

[2015-01-20 17:44] EvilOlaf opened #116 "Economy broken (again)?"
Spigot 1.8
Vault 1.5.2
iConomy 7
PlotMe 0.15.2

Plot buy does not subtract the price from players funds.

Actually not my own bug, had two independent users in IRC with the same problem.

[2015-01-21 01:37] MattBDev commented on #98
Please try Renaming the worlds to lowercase (everywhere) if they are not already, the generator is case-sensitive in the config for some reason so make sure it is okay there, add the generator to the bukkit.yml and let me know if any of this works. provide me a bukkit.yml and plotme configs if this doesn't work. .

[2015-01-21 02:03] ATon2 commented on #98
They are already lowercase.

[2015-01-21 02:41] MattBDev commented on #98
You didn't add the generator properly to the bukkit.yml
Follow the http://wiki.bukkit.org/Bukkit.yml#.2AOPTIONAL.2A_worlds

[2015-01-21 03:52] ATon2 commented on #98
That seemed to work, thank you!
It's still strange it doesn't work with multiverse though.

[2015-01-21 04:56] #98 closed

[2015-01-21 04:56] MattBDev commented on #116
Invalid but will be left open for one more day for investigation

[2015-01-21 04:57] MattBDev commented on #115
Cannot Reproduce

[2015-01-21 04:57] #115 closed

[2015-01-21 07:18] EvilOlaf commented on #115
As seen there is still a plot limit of 0 and you claimed already two.
Therefore it seems were operator or had any permission that overrides the limit.
Check your permission setup.

[2015-01-21 07:20] EvilOlaf commented on #116
Honestly I can not reproduce the "invalid" tag.
Anyway it seems that this configuration does not work for some users.
I had myself the same configuration and can't reproduce.

[2015-01-21 07:22] MattBDev commented on #116
If it doesn't work then it has to be a Spigot/Bukkit issue because I am implementing Vault exactly as described in the VaultAPI.

[2015-01-21 07:22] #116 closed

[2015-01-21 07:27] EvilOlaf commented on #116
The only think it MAY could be is that spigot changed something.
I had an older build from later 2014 for testing PlotMe/Vault/iConomy.

However it might be interesting to investigate a bit further if another concerned users reports here. If it is indeed related to Spigot or Vault I am pretty sure they were glad to get a previewed and detailled issue report about ;).

[2015-01-21 11:49] #114 closed

[2015-01-21 21:21] #110 closed

[2015-01-21 22:30] GotScrub commented on #101
I believe I did? I don't see any other permissions listed on the spigot page other than plotme.use, plotme.admin, plotme.limit and plotme.block

What would be the correct permission?

[2015-01-21 23:35] MattBDev commented on #101
look at our wiki page to see the permissions. this issue should not be active anymore and is getting annoying.

[2015-01-21 23:44] GotScrub commented on #101
I'm sorry it's getting annoying that I have issues that I don't know how to resolve... :\ You said the permission that allows people to tp to other plots is not plotme.use, I know it's not plotme.admin or plotme.block or plotme.limit. I've looked on your PlotMe | SpigotMC page and clicked Commands and Permissions and don't see anything that varies from the 4 mentioned above.

[2015-01-22 00:03] MattBDev commented on #101
It is in the plotme.admin section. One of the home commands.

[2015-01-22 22:03] MastefChief opened #117 "I need help"
Every time i try to make a plot world i keep getting an error.

Screenshots:
http://prntscr.com/5vsnts

[2015-01-23 02:46] MattBDev commented on #103
@ZachBora has fixed this in commit 2c044db5aa541eedea18b5e8c8735c7f3483d7f5

[2015-01-23 02:46] #103 closed

[2015-01-23 02:47] MattBDev commented on #117
This does not provide much detail. Does your world "Plots" exist in both config files? Make sure "Plots" is in lowercase letters when specified in the config's.

[2015-01-23 02:47] #99 closed

[2015-01-23 02:48] #94 closed

[2015-01-23 02:49] MattBDev commented on #53
@ZachBora has stated he will be fixing any and all issues with the move command instead of using worldedit.

[2015-01-23 02:49] #53 closed

[2015-01-23 02:50] MattBDev commented on #50
There is no repo version for 0.15.2 but I will make sure after 0.16 there will be.

[2015-01-23 02:50] #50 closed

[2015-01-23 02:50] MattBDev commented on #84
I can't reproduce. Please update this ticket if the issue still exists.

[2015-01-23 02:50] #84 closed

[2015-01-23 07:28] EvilOlaf commented on #117
Little Offtopic: How about a simple "HowTo report issues" and FAQ for the most common errors?

[2015-01-23 11:39] MarkusAV commented on #117
@EvilOlaf It's not possible to do with github issues, however I will work on a faq page at the wiki soon

[2015-01-23 18:31] #117 closed

[2015-01-23 23:15] Bobcat00 commented on #84
Still seeing the problem.  Here's an example.  I did the following commands:
/p info
/p list LanaPug
/p list lanapug
I thought it was interesting that the command results in two different outputs depending on the case of the player's name.  Server is online.

![plotme_bug](https://cloud.githubusercontent.com/assets/3617206/5884456/b433c728-a32b-11e4-92e3-2d5205a418c2.png)

[2015-01-24 11:54] EvilOlaf commented on #117
I don't think thats a problem. Just create your FAQ, "most common errors" and "how to report an issue" page and then change the link of "ask question/get support" at Spigot resource to it. After the hint to "read this page carefully before opening an issue report" you may link them to git.
You also should add a hint to be patient in IRC and wait for answer.

[2015-01-24 20:35] MarkusAV commented on #117
@EvilOlaf Website is still under development. My goal for the site is to make it as friendly and easy as possible

[2015-01-24 20:48] EvilOlaf commented on #117
*like*

[2015-01-25 02:01] cindyker commented on #97
I saw a server that updated PlotMe to do this. They added a second list for Trusted.
They changed Added, to only allow building if the user is online and made Trusted working like added used to, where you can build anytime.

Players on my server run role playing on their plots and add everyone to it. Then they log off and get griefed. Its actually an annoying problem.

I would go as far as to hope

[2015-01-25 02:08] MattBDev commented on #97
This issue is still open because it is something that is planned. Something similar to this will be added but not exactly as described.

[2015-01-26 16:15] efrank123456789 opened #118 "i get internal server error when i do /plot"
im running spigot 1.8 and whenever i do /plot or /plotme i get internal server error

[2015-01-26 16:22] ZachBora commented on #118
hi @efrank123456789, please post us your server log, preferably paste it in https://gist.github.com/

[2015-01-26 17:19] tyipie opened #119 "World will not Generate"
I do the command: /mv create plotworld normal -g PlotMe-DefaultGenerator, but when I TP to that world (/mv tp plotworld) It's just a regular world? I've searched all over youtube, tried a thousand different methods, I also tried multiworld with no luck.

[2015-01-26 17:23] EvilOlaf commented on #119
Make sure that PlotMe-DefaultGenerator has been loaded successful on server startup and check the worlds.yml of multiverse. Ensure your plotworld uses PlotMe-DefaultGenerator as world generator.

[2015-01-26 17:27] tyipie commented on #119
I checked all that, its all working. I tried redownloading plotme, now it works but says this is not a plotworld. the config says the world name is plotworld, and that is what I named the world..

[2015-01-26 17:30] Schtooping opened #120 "Can't generate plotme world"
I have used plotme for years so I'm fairly certain I have everything set right but for some reason when I try and generate a plotme world no plots generate. It's just a normal world I'm pasting my config files here:

Plotme config.yml
http://pastebin.com/aByQTzT4

PlotMe-DefaultGenerator
http://pastebin.com/GbRWaveL

My startup log:
http://pastebin.com/QGizAGUy

Any help would be greatly appreciat

[2015-01-26 17:40] EvilOlaf commented on #119
Did you use lowercase for your world only?
For further investigation you may paste your worlds.yml, PlotMe config and PlotMe-DefaultGenerator config on pastebin and put the links here.

[2015-01-26 17:41] EvilOlaf commented on #120
Make sure you use PlotMe-DefaultGenerator as world generator in your worlds.yml of MultiVerse.

[2015-01-26 17:50] tyipie commented on #119
http://pastebin.com/qCwEBV43 thats the plotme config, I coukdnt find worlds.yml on the FTP. Heres the Plotme-Defaultgenerator config... http://pastebin.com/Qtdb93na

[2015-01-26 17:54] EvilOlaf commented on #119
Look for it in the MultiVerse directory.

[2015-01-26 17:57] tyipie commented on #119
Alright, here it is. http://pastebin.com/S0nYaJiv

[2015-01-26 18:14] Schtooping commented on #120
So I have seen others say this but it's not clear to me where to put this info as it doesn't exist as a setting on the worlds.yml. Do I add a line at the bottom? Even the documentation on the multiverse 2 github isn't clear about it. I think these instructions make a lot of assumptions about what people know. I have no problem editing configs as long as i  know I'm not gonna mess stuff up. Sorry t

[2015-01-26 18:27] Schtooping commented on #120
Okay I figured it out. Thanks for the help. It seems to be working fine now

[2015-01-26 18:34] Schtooping commented on #119
Just got to  /plugins/Muiltverse-Core and look for the worlds.yml. At the bottom  of the config add the line     generator: PlotMe-DefaultGenerator

Save the file and restart the server.   It will now work

[2015-01-26 18:57] Schtooping opened #121 "Another problem once plotme world is generated"
Getting an error when trying to run any plotme command. Paste bin below. Any ideas what the problem might be?

http://pastebin.com/X6LYjXM6

[2015-01-26 18:58] #120 closed

[2015-01-26 19:06] EvilOlaf commented on #121
Do a restart and it should work well.

[2015-01-26 19:08] Schtooping commented on #121
Well of course it's that simple.. Sorry to bother you again

[2015-01-26 19:08] #121 closed

[2015-01-26 19:10] EvilOlaf commented on #121
No problem ;)

[2015-01-26 19:12] ZachBora commented on #119
@tyipie
* In the root folder of the server, edit bukkit.yml and add at the end
[code]

* Stop the whole server.
* In server root, folder plotworld, go in the region subfolder and delete all region files.
* Start server

[2015-01-26 19:29] MattBDev commented on #118
@ZachBora this issue has already been fixed with our latest changes in 0.16

[2015-01-26 20:20] tyipie commented on #119
That worked, thanks ZachBora. Thank everyone else for helping also!

[2015-01-26 20:26] #119 closed

[2015-01-26 22:28] MattBDev opened #122 "Plot Time"
Allow players to set the time of day in their plot. This would change the time for other players as well.

[2015-01-27 06:32] MattBDev opened #123 "PlotMe Help via Console"
If you do /plotme help in the console it should output information on how to report bugs and get support.

[2015-01-27 06:33] MattBDev opened #124 "PlotMe Version Command"
Add the command "/plotme version" that outputs the version of plotme that is running.
Permission node: plotme.admin.version

[2015-01-27 07:37] EnriMarte opened #125 "WorldEdit Doesnt work on plots"
why world edit doesnt work on plots, its anyway to do it work on plots? thanks you

[2015-01-27 10:08] MarkusAV commented on #123
Perfect.

[2015-01-27 10:10] MarkusAV commented on #125
You need to use WorldEdit Anywhere if you are worldediting outside your own plots; activivate and use at own risk using /plotme weanywhere

[2015-01-27 10:54] LucaBonfi95 opened #126 "Plotme does not recognize PlotMe-DefaultGenerator"
I am upgrading plotme to the newest version, i was running on 0.13.
I stopped the server, deleted plotme.jar, uploaded the new Plotme-Core and Plotme-defaultgenerator jars in the plugins folder. I changed in worlds.yml the generator string of world_creative (that's my plot world) from "PlotMe" to "Plotme-DefaultGenerator" but when i restarted the server the string changes back to "PlotMe" and all

[2015-01-27 11:06] LucaBonfi95 commented on #126
Also, if i try to use a /plotme command, i get ArrayIndexOutOfBoundsException

[2015-01-27 12:01] LucaBonfi95 commented on #126
Ok, seems to be fixed now, just needed to modify Multiverse plugin.yml inside the .jar.
nice shitty plugin plotme and multiverse, gonna change them asap

[2015-01-27 13:21] ZachBora commented on #126
@LucaBonfi95 Did you even read the install instructions for moving from 0.13 to 0.15? I'm not obliged to help someone who calls my plugin shitty and can't even read instructions.

[2015-01-27 13:21] #126 closed

[2015-01-27 13:23] ZachBora commented on #124
Matt, there's /version PlotMe... I don't see the point of a /plotme version

[2015-01-27 17:20] MattBDev commented on #125
If you want to use world edit on your own plots you need to give players worldedit permissions and be using worldedit 6. To use worldedit outside of plots, you must enable worldedit anywhere.

This issue will be marked as closed if there is no response within 2 days.

[2015-01-27 21:22] MarkusAV commented on #126
@ZachBora :1:

[2015-01-27 21:22] MarkusAV commented on #124
lol

[2015-01-27 21:24] MattBDev commented on #124
Nevermind then. I didn't know that.

[2015-01-27 21:24] #124 closed

[2015-01-27 21:25] EnriMarte commented on #125
i am the owner and i want to use the worldedit on anothes plots i mean to help them

[2015-01-27 22:37] orkun1675 opened #127 "Support Offline Servers"
When you have time can you also add support for offline servers?
I believe the only issue is with UUID's, I could help with the coding if thats the case?

Thanks!

[2015-01-27 23:53] ZachBora commented on #127
Offline mode is not supported because there is no way to know the user is who he says he is with matching UUID.

The only way we would add support is if there was a way, by contacting Mojang, to get a reply that says "yes that player is on that server". There is a mojang API where you send mojang the username and server id but I do not see how to get the server id, I don't think it's exposed, but

[2015-01-28 00:04] ZachBora commented on #127
Found the mojang API thing.

[code]

I just haven't been able to get the serverId. Bukkit does not expose it. I think it's like Bukkit.getServerId() and it's an empty string.

[2015-01-28 00:56] MattBDev commented on #125
Then you just do /plotme weanywhere
If this issue is solved, please let me know so I can close this issue.

[2015-01-28 00:59] ROTNdev opened #128 "API/Example plugin?"
I've been trying to convert a plugin that depended on the old PlotMe to PlotMe-Core with no luck. I'm using the current release as the maven dependency, but it doesn't let me access any of the static methods in PlotMeCoreManager.

I only need to get the plot the player is in, and to see if the player is able to build in it.

Help is appreciated, thanks.

[2015-01-28 02:09] ZachBora commented on #128
I'm updating the Example plugin

[2015-01-28 02:32] ZachBora commented on #128
@ROTNdev I've updated PlotMeHookExample.

https://github.com/WorldCretornica/PlotMeHookExample/blob/PlotMeCore/src/main/java/com/worldcretornica/plotmehookexample/PlotMeHookExample.java

Notes:
* Made using v0.16, but most of the code should work for 0.15.x
* I noticed some functions are static and others are not, this is not final and we might remove the statics or move them for easier use.
* The

[2015-01-28 04:44] EnriMarte commented on #125
yes!!! thanks you very much. i have another problem now LOL. the /plotme home doesnt have tp time i want to edit them and cant find on the config file. help me pls

[2015-01-28 04:48] ZachBora commented on #125
Please create a new issue for the plotme home, it's not an option to put time at the moment.

[2015-01-28 04:48] #125 closed

[2015-01-28 05:03] EnriMarte opened #129 "Add optional timer to teleport to plot's"
the /plotme home doesnt have tp time i want to edit them

[2015-01-28 05:14] EnriMarte opened #130 "/plotme auto error"
why when users want to put /plotme auto they get this message: " No plot found within 3 plots, contact an admin" i go like on the empy plots i put /plotme auto and still get same message helpme pls

[2015-01-28 14:18] EvilOlaf commented on #130
Did you change the plot auto settings in your config?

[2015-01-28 14:18] EvilOlaf commented on #129
tp time?

[2015-01-28 17:19] ofirtim opened #131 "WorldEdit and PlotMe Plugins wont work on Spigot"
i found this bug when i am Using the same Plugins on Spigot! Please found away to fix this shit!!!
Please!!
its happend when i Teleported to the Plotme World!

[19:14:43] [Server thread/ERROR]: Could not pass event PlayerTeleportEvent to PlotMe v0.13b
org.bukkit.event.EventException
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:302) ~[Bukkit.jar:git-Spigot-1649]
	at o

[2015-01-28 17:23] EvilOlaf commented on #131
You are using an outdated version of PlotMe. If course it wont work on 1.8.
http://www.spigotmc.org/resources/plotme.2131/

[2015-01-28 17:24] ofirtim commented on #131
idk how to doing the new Verison!!!

[2015-01-28 17:25] ofirtim commented on #131
and i am Using 1.7.x and 1.8.x

[2015-01-28 17:26] EvilOlaf commented on #131
Download an place into the plugins folder. As you installed other plugins.
You can not run 1.7 and 1.8 at the same time. Therefore your statement does not make any sense.

[2015-01-28 17:27] ofirtim commented on #131
you want my Version? its Spigot 1.7.x 1.8.x bro
i am Using right now 1.8 and my friend Using 1.7.6

[2015-01-28 17:30] Lmmb74 commented on #131
You are using the protocol hack, right?

[2015-01-28 17:43] ofirtim commented on #131
i think yes

[2015-01-28 18:04] EvilOlaf commented on #131
Aight "bro". Then do a reasonable statement next time by telling the exact version you are running which is visible in console at startup and in the /version command. No one has time for riddles.

Anyway as written your version of PlotMe is outdated and does not receive any further support.

[2015-01-28 18:37] MattBDev commented on #131
This is not the place to report 0.13b bugs. 0.13b is outdated and no longer supported. We have newer versions with bug fixes. This issue is now closed.

[2015-01-28 18:37] #131 closed

[2015-01-28 18:37] EnriMarte commented on #129
yes

[2015-01-28 18:37] EnriMarte commented on #130
yes

[2015-01-28 18:38] MattBDev commented on #130
Then that is why you are getting this issue. If you stand on top of a plot and do /plotme auto it doesn't do much if you changed the plot auto value. If you stand on top of the plot you need to do /plotme claim.

Issue closed.

[2015-01-28 18:38] #130 closed

[2015-01-28 18:40] MattBDev commented on #129
What the heck is tp time? You mean a delay to teleport? You can do this with other plugins.

[2015-01-28 18:49] EnriMarte commented on #129
how?

[2015-01-28 18:50] EnriMarte commented on #130
LOL so people have to walk into their own plots?

[2015-01-28 19:02] MattBDev commented on #130
What did you change the plot auto value to?

[2015-01-28 19:03] MattBDev commented on #129
I meant to reopen this.

[2015-01-28 19:04] EnriMarte commented on #129
so? no ones knows?

[2015-01-28 19:04] EnriMarte commented on #130
already fix it thanks you

[2015-01-28 19:04] YepImRobbie opened #132 "Can't /plot remove <name> | Also, people with multiple plots can't /p h or build on it"
28.01 14:04:23 [Server] INFO ... 14 more
28.01 14:04:23 [Server] INFO at org.bukkit.command.PluginCommand.execute(PluginCommand.java:44) ~[spigot.jar:git-Spigot-fa7cbf9-42ebec1]
28.01 14:04:23 [Server] INFO at com.worldcretornica.plotme_core.bukkit.BukkitCommand.onCommand(BukkitCommand.java:166) ~[?:?]
28.01 14:04:23 [Server] INFO at com.worldcretornica.plotme_core.commands.CmdRemove.exec(CmdRemov

[2015-01-28 19:18] MattBDev commented on #132
Please resubmit with a more detailed report in markdown format instead of posting just an error. I cannot help you with just a snippit of an error log. Markdown format can be found using this link: https://guides.github.com/features/mastering-markdown/

[2015-01-28 19:18] #132 closed

[2015-01-28 19:50] EnriMarte commented on #129
help?

[2015-01-29 03:08] ZachBora commented on #131
@ofirtim You're using a plotme version that was build for worldedit 5.x but you're using worldedit 6. New plotme version will fix your problem.

[2015-01-29 03:12] ZachBora commented on #130
@EnriMarte the plot auto limit isn't per player, there's a permission node for max plots per player.
The plot auto command is used to automatically claim a new plot, nearest available one. The plot auto limit config is to prevent an infinite loop when it's looking for new plots. So for example if it's set to 10,000 then the plot auto command will stop at something like 5000x 5000z plot ids. But it

[2015-01-29 19:53] YepImRobbie opened #133 "Projectiles"
Hello, projectiles such as Egg and Snowballs, don't affect players or mobs, this is an issue since the plugin CrackShot uses snowballs as a projectile for guns, and thus, they're completely ineffective in the plotworld.

I'm certain it's down to PlotMe since they work in non-plotme worlds.

How do I allow snowballs and eggs to have an effect so Crackshot isn't useless. Thanks.

[2015-01-29 19:56] YepImRobbie commented on #133
Additionally, mobs aren't damaging players.

All of this worked before updating to the core.

[2015-01-29 20:17] ZachBora commented on #133
Yeah... someone was complaining about egg so we had disabled them. We will see if we can make configuration for what is disabled, that should resolved your problem.

[2015-01-30 02:31] ZachBora commented on #36
command /plot middle added for next release

[2015-01-30 02:31] #36 closed

[2015-01-30 23:34] tattyseal opened #134 "PlotMe limit not working"
Hello, I am working on a PlotMe server. But I can claim as many plots as I want (deopped, with the rank I have set the perms to) even though I have assigned plotme.use (which should assign a limit of 1). I am using permissionsex, and when I do /plot it shows 0 out of 1 plots claimed, even though I had claimed 6.

My Permissions File:
[code]

I am using the group user, and as you can see it has plo

[2015-01-31 13:12] MattBDev commented on #127
@ZachBora that is not something we are able to get from a server. Bukkit does not expose it and so far, I don't think Sponge does either.

[2015-01-31 14:47] orkun1675 commented on #127
Bungee validates the player. So we don't have to worry about security and contacting Mojang.

Using the method getUniqueId() will be sufficient?

I am new to the BukkitAPI though.

[2015-01-31 14:52] MattBDev commented on #127
@orkun1675 Bungee passes the UUID and Name to the Bukkit and Spigot servers and the server is technically is in an online state. Although your issue may be fixed, many people have requested for real offline support so they can use the plugin even without bungeecord

[2015-01-31 15:33] orkun1675 commented on #127
Ok. So you will be basically looking for player names only for offline mode right? The UUID is md5 hash only.

[2015-01-31 15:54] ZachBora commented on #127
@orkun1675 If the player.getuniqueid() is the real UUID then plotme should be working fine, I believe Matt said Bungee is supposed to put the correct uuid in the player.

If the uuid in the player is wrong (aka md5 of the username), we can't be sure it was validated with Mojang.

[2015-01-31 16:00] orkun1675 commented on #127
So we shouldn't care if it is validated with Mojang, to support offline mode servers. Just let them pass through by looking at their names.

[2015-01-31 16:39] ZachBora commented on #127
@orkun1675 We aren't blocking offline mode servers, we are just taking their UUID. If it doesn't match they were not validated. We don't support illegal servers.

[2015-01-31 16:39] MattBDev commented on #134
Can you give me your server log? Preferebly a hastebin.com link of it.

[2015-01-31 16:44] tattyseal commented on #134
http://hastebin.com/rabazasoko.vhdl

[2015-01-31 16:54] MattBDev commented on #134
Can I also see your plotme config?

[2015-01-31 17:18] MattBDev commented on #134
Why do you have two worlds with the same name?
'[22:56:23] [Server thread/INFO]: [PlotMe-DefaultGenerator] Importing world Creative from PlotMe
[22:56:23] [Server thread/INFO]: [PlotMe-DefaultGenerator] Importing world creative from PlotMe'
Also, you don't need DynmapPlotMe if you aren't using the Dynmap plugin... :expressionless:

[2015-01-31 17:21] MattBDev commented on #134
Please use your permission plugin to check for this `plotme.limit.1` and if it says true then just keep checking for a number higher up. If it still says true, then you have a permissions issue.

[2015-01-31 17:27] tattyseal commented on #134
I meant to install Dynmap, and the 2 world names were not added by me, I will remove those

[code]

And I will check the permissions too. Like I said, when I do /plot it does say 0 out of 1 (or how many are set in permissions) but it lets me claim as many as I want

[2015-01-31 17:36] MattBDev commented on #134
Please just check/do the things I asked above and let me know the results.

[2015-01-31 17:37] tattyseal commented on #134
I checked my permissions and it said I had "plotme.limit.1" and nothing else above that

[2015-01-31 17:38] MattBDev commented on #134
Did you remove that extra world listed in the config?

[2015-01-31 17:38] tattyseal commented on #134
Yes. And this is what happens when I claim a plot, then do /plot http://puu.sh/fhHPv/22679e8130.png

[2015-01-31 17:39] MattBDev commented on #134
Can I have your server IP? I need to see this.

[2015-01-31 17:39] tattyseal commented on #134
tattyseal.com what is your ingame name?

[2015-01-31 17:39] MattBDev commented on #134
MBon29

[2015-01-31 18:22] #88 closed

[2015-01-31 19:26] MarkusAV commented on #133
I like that ideea Zach :+1:

[2015-01-31 20:09] MattBDev commented on #133
This has been added for 0.16
Closing issue.

[2015-01-31 20:09] #133 closed

[2015-01-31 20:40] TheOnlyRealTGS opened #135 "Better way to reset plots"
A smarter way to reset plots would be to require WorldEdit & AsyncWorldEdit IF a config setting is set to true like:
_lag-free-plot-resetting: true_

Then use the (upcoming) api: https://github.com/SBPrime/AsyncWorldEdit/issues/29

[2015-02-01 00:52] MattBDev commented on #135
We already have async plot clearing in the next version. We don't need to use worldedit or asyncworledit for it.

[2015-02-01 00:52] #135 closed

[2015-02-01 00:53] TheOnlyRealTGS commented on #135
Oh, great!

[2015-02-01 18:47] LaxWasHere commented on #134
Just chiming in, using latest version from spigot, also using latest version of pex 1.23.1 and spigot too...

![image](http://q.awsmpwrd.com/tHdd.png)

[2015-02-01 18:53] tattyseal commented on #134
I am also using that version. :/

[2015-02-01 19:38] ZachBora commented on #134
@tattyseal if you give a plot limit of 5, does it show in the help as 0 of 5? I just want to be sure the problem is with the plotcount and not with the plot limit.

[2015-02-01 19:43] tattyseal commented on #134
@ZachBora Yes.

[2015-02-01 20:21] ZachBora commented on #134
Our CI is down, can't get it up because it's HawkFalcon's. But I've pushed on my website a build of 0.16, there might be issues with it. But can you verify if this bug is still present with it.

http://www.worldcretornica.com/plotme/PlotMe0.16.zip

[2015-02-01 20:35] tattyseal commented on #134
That seems to have fixed it. But I also deleted my plots.db file. I will try the other build with this new plots.db file

[2015-02-01 21:37] #118 closed

[2015-02-01 21:39] MattBDev commented on #43
@ZachBora has been working on fixing this and making it more stable. The work he is doing can be found in https://github.com/WorldCretornica/PlotMe-AbstractGenerator

[2015-02-01 22:44] ZachBora commented on #43
We have a new move system coming soon but it's not finalized yet. Still some things to be tested and a failover, in case server crashes mid-doing a move.

[2015-02-02 19:25] stuart99 opened #136 "/plotme auto Problem"
Hello,

Recently i have added PlotMe To my server. I have set the world up and have done the config but when i went to do /plotme auto it disconnected me with a internal error. I have never had this error before and was wondering if you could help me out. Here is a screenshot of the console http://prntscr.com/609jwr.
Please get back to me as soon as possible.

Thanks.

-Stuart

[2015-02-02 19:34] EvilOlaf commented on #136
Seems like this is not related to plotme, more to chatcontrol...

[2015-02-02 19:46] stuart99 commented on #136
DO you know how i can fix it?

[2015-02-02 19:52] EvilOlaf commented on #136
Try disabling chatcontrol and try again.

[2015-02-02 19:52] stuart99 commented on #136
Ok

[2015-02-02 20:01] stuart99 commented on #136
Ok so i took The ChatControl plugin out of my server and it still gets this error http://prntscr.com/60a5ci.

[2015-02-02 20:19] EvilOlaf commented on #136
Your version of plotme is outdated. Therefore it will not receive any further support. Get the current version here: http://www.spigotmc.org/resources/plotme.2131/

[2015-02-02 20:20] stuart99 commented on #136
Ok Thank you

[2015-02-02 20:28] stuart99 commented on #136
Ok So i got the new plotme plugins and installed them and got this error when doing the same command http://prntscr.com/60am86

[2015-02-02 20:32] stuart99 commented on #136
So i installed the new plotme plugins and got this error when doing the same command http://prntscr.com/60am86.

[2015-02-02 20:51] MattBDev commented on #136
You did not setup plotme correctly. Please follow the upgrade guide on the PlotMe website. Issue closed.

[2015-02-02 20:51] #136 closed

[2015-02-03 17:07] raceking37 opened #137 "when i generate a world it is a normal world"
i did /mv create plotworld normal -g PlotMe
i also get time out and when i rejoin
and type /mv tp plotworld
it is a normal world

[2015-02-03 17:13] EvilOlaf commented on #137
console output?

[2015-02-03 17:31] ZachBora commented on #137
it's /mv create plotworld normal -g PlotMe-DefaultGenerator

[2015-02-03 17:56] raceking37 commented on #137
still does not work
http://pastebin.com/W32TBKaZ

[2015-02-03 17:59] EvilOlaf commented on #137
[code]
Make sure that PlotMe-DefaultGenerator is loaded properly at server start.

[2015-02-03 18:01] raceking37 commented on #137
how do i do that

[2015-02-03 18:12] raceking37 commented on #137
i works !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
i forgot to put the plugin back in
thanks

[2015-02-03 18:19] MarkusAV commented on #137
If you encountering more problems, try adding this line to the bottom of your bukkit.yml file
[code]

[2015-02-03 18:19] #137 closed

[2015-02-03 19:38] #134 closed

[2015-02-03 19:45] #128 closed

[2015-02-03 19:45] MattBDev commented on #123
I think i finished this.

[2015-02-03 19:45] #123 closed

[2015-02-03 19:58] #3 closed

[2015-02-03 20:03] MattBDev opened #138 "UUID Updater Broken"
According to users, this is converts the same number of users every time when it isn't needed and it never deletes invalid users.

[2015-02-03 22:13] wickstim opened #139 "plotme multiverse not completing world creation"
Hi,
I am using a Bungeecord setup (bungeecord  has ip forward set to true and have bungeecord set to true in spigot.yml).
Have had plots running well for 18 months.  Upgraded to 0.15.2 - followed instructions - deleted old plugin, add new plugin and default-generator etc
when I use multiverse to create a plots world, using the command /mv create plotsworld NORMAL -g PlotMe-DefaultGenerator I get a

[2015-02-03 23:26] MattBDev commented on #139
there is no image attached. if you are not using the latest version of bukkit or spigot then i suggest upgrading. The bungeecord information is irrelevant. Please resubmit this issue or discuss it in the spigot forums where help is more likely to be found.

[2015-02-03 23:29] #139 closed

[2015-02-04 02:57] planet363 opened #140 "errors"
when i do ./plotme it says an internal error has accoured

[2015-02-04 03:00] MattBDev commented on #140
Thank you for being descriptive in your error name. Unfortunately you failed to read instructions on the plotme website which has caused your error. many people have encountered this same issue and the solution is in the Plotme thread on the Spigot Forums. Because of this, your issue will be closed and locked.

[2015-02-04 03:00] #140 closed

[2015-02-04 04:39] MuroHasegawa opened #141 "Console error spammed: Could not pass event PlayerInteractEvent to PlotMe v0.15.2"
Getting this error spammed in console, not to sure if it's cause of some other plugins I may have or what.

http://pastebin.com/HBby2vbq

[2015-02-04 04:46] ZachBora commented on #141
This will be fixed in the next version.

[2015-02-04 04:48] MuroHasegawa commented on #141
Cool, till then I'll stick with 0.13f

[2015-02-04 13:17] ZachBora commented on #141
@MuroHasegawa if you have time, you could test using version from our CI http://ci.worldcretornica.com/

[2015-02-04 16:19] MuroHasegawa commented on #141
There is no console spam with your build #27 PlotMe-Core and build #6 of PlotMe-DefaultGenerator. But now creeper and tnt explosions aren't blocked.

[2015-02-04 16:55] ItsHarry opened #142 "Name should be updated upon join"
If a player changes their name, the name should be updated in the database upon join.

[2015-02-04 16:57] ZachBora commented on #141
Verify in your config file for a setting to disable those. I know @MattBDev was working on the events, I am not sure what he has done with those.

[2015-02-04 16:58] ZachBora commented on #141
P.S. @MattBDev I don't know if it's an issue introduces or a config, but if it's a config it should be prevent these by default.

[2015-02-04 17:01] MuroHasegawa commented on #141
Both "DisableExplosion" & "DisableIgnition" are set to true in my config.

[2015-02-04 17:05] Maescool commented on #142
+1

[2015-02-04 18:14] ZachBora commented on #142
I thought it already did that, must have forgotten it.

[2015-02-04 18:16] ItsHarry commented on #142
There is a method you made in SqlManager called convertPlotToNewUUID() or something like that, but it is never called.

[2015-02-04 18:43] MattBDev commented on #142
@ItsHarry nice catch :+1:

[2015-02-04 19:07] ZachBora commented on #142
where is this convertPlotToNewUUID?

[2015-02-04 19:08] ZachBora commented on #142
or is it updatePlotsNewUUID

[2015-02-04 19:11] MattBDev commented on #142
It's updatePlotsNewUUID()

[2015-02-04 19:15] ZachBora commented on #141
@MuroHasegawa can you give us your server log? This shouldn't happen.

[2015-02-04 19:29] SecretlyJealous opened #143 "Plots & Name changes"
Players who have changed there name are able to return to their plot and build however they cannot add, remove, deny or undeny players, is this an issue on my side or was this intended?

[2015-02-04 19:36] ZachBora commented on #143
@MattBDev do you think you can check those commands to verify if they check by uuid for the player using them?

[2015-02-04 19:46] ItsHarry commented on #143
Same issue as #142

[2015-02-04 20:13] ItsHarry commented on #142
Thanks for the quick help guys by the way.

[2015-02-04 20:53] MuroHasegawa commented on #141
Here is the latest log from my server.
https://www.mediafire.com/?6sedfloxwt364l1

[2015-02-04 21:20] MattBDev commented on #141
The first issue I see is that you are using an extremely old version of worldedit that doesn't work with plotme.

[2015-02-04 21:22] MattBDev commented on #141
The second issue is the captions file didn't change to captions.yml

[2015-02-04 21:22] MattBDev commented on #141
Third, looks like worldguard has tnt enabled in some places.

[2015-02-04 22:40] MuroHasegawa commented on #141
Newest update for worldedit doesn't like our server but I'm trying to fix that. I already have a captions.yml inside of the PlotMe folder. As for WorldGuard, I've added all the flags to fix the explosions.

[2015-02-05 02:03] MattBDev opened #144 "Test Group Owners"
Assigning a group as an owner to a plot is most likely not working

[2015-02-05 02:06] MattBDev commented on #6
This issue has been closed. If this expresses interest from many, I will reopen but the priority is extremely low at the moment.

[2015-02-05 02:09] GreatGBL opened #145 "Can I take some terrain in Plotme plugin ?"
Hello , I am small server owner , I use your plugin to create 256X256 side plotmeworld to give my players ;However , Most of players don't like it because It is flat , I decide to take some terrain on each plot, Can I do that ?

[2015-02-05 03:47] mcmonkey4eva commented on #6
+Support for reopening.  Nothing major is needed, just making sure NPCs can be clicked on and all that

[2015-02-05 09:44] PrisonHeist opened #146 "Upgrading problems"
Hi, I recently updated my version of PlotMe to the one including PlotMe-DefaultGenerator, I've done as instructed in the upgrade guide by editing my bukkit.yml to say the generator is -DefaultGenerator and not just 'PlotMe'. Also removed the old plugin.

Now when the server starts up it starts to do UUID database conversion which is fine, however when I teleport to someones plot the coordinates ar

[2015-02-05 11:32] MarkusAV commented on #145
In the future you will see possibilities for schematic support :)
But at the moment it is not possible

[2015-02-05 11:37] ItsHarry commented on #142
When do you think you will get this finished?

[2015-02-05 11:39] MarkusAV commented on #6
Adding Citizens support would be awesome.

[2015-02-05 11:42] MarkusAV commented on #146
Your PlotMe world must be lowercased in the configurations

[2015-02-05 13:24] ItsHarry commented on #142
Nevermind, I see that it has been fixed in the latest commit. Thanks

[2015-02-05 14:02] MattBDev commented on #142
@ItsHarry have you tested it yet? If you can test it and prove this is all fixed and every command is working and such, it would be extremely helpful

[2015-02-05 14:03] MrNut commented on #142
@MattBDev I'm currently using the dev version, it all looks good to me! Great work.

[2015-02-05 14:03] MattBDev commented on #6
Glad to see people are interested. Ticket reopened

[2015-02-05 14:03] MattBDev commented on #142
Commands are working and such?

[2015-02-05 14:05] MattBDev commented on #145
It is possible to build an add on that generates terrain but sadly, all the plugins i know that do this are privately made.

[2015-02-05 14:05] MrNut commented on #142
Yeah, looks fine to me. I'll report back when my playerbase reports back :)

[2015-02-05 14:07] AnthonyAMC commented on #6
Yay! The citizens devs are extremely supportive. I'm sure they'd help steer you in the right direction if you have trouble figuring out how to ensure that NPCs can be interacted with.

[2015-02-05 14:07] MattBDev commented on #142
thank you. My IRC is also open on my computer and will be all day. I won't be able to respond but I will see any message you leave me.

[2015-02-05 14:10] MattBDev commented on #6
I'll start looking into it tonight if no other UUID issues come up

[2015-02-05 14:31] ZachBora commented on #145
Ideas of things I want to add in a near future
* On claiming, load a schematic on the plot. Load either always specific schem or random schem
* Command to load a schematic on the plot.
* New generator called NoGenerator that will use vanilla generator and no roads.

[2015-02-05 15:30] GreatGBL commented on #145
@ZachBora
Actually，I spent 50$ to let others programmer help me add this function： when some new player take a new plot , in the center of plot will load a schem which I made ;However , If the schem is too large ,server will lag about 5-10s,everyone hate the lag,so I have no idea ,I only use it to make a old house,tree and well . Each new player can get those,

That is a picture here : http://atta

[2015-02-05 15:40] ItsHarry commented on #142
Is there a Jenkins server? For some reason I get an IncompatibleClassChangeError after compiling it myself..

[code]

[2015-02-05 15:50] GreatGBL commented on #145
@MarkusAV
@MattBDev

:)

[2015-02-05 15:53] ZachBora commented on #145
@GreatGBL We're planning a release tomorrow or saturday, but this weekend I can add this feature and it will be available for download from our jenkins.

[2015-02-05 15:55] MattBDev commented on #146
also check to make sure your configs are the same settings you previously had. It is a known issue that the plot size may change sometimes. It is a random chance but it does happen.

[2015-02-05 15:58] MattBDev commented on #142
ci.worldcretornica.com

[2015-02-05 15:59] ZachBora commented on #145
@GreatGBL so just to understand correctly, they claim the plot and then a schematic (config for the path) gets pasted on top of the plot in the middle.

[2015-02-05 15:59] MattBDev commented on #142
I have seen this more than once. I am not sure how It is an Incompatible class change since it completely is compatible and implements all the methods in the interface.

[2015-02-05 16:01] ItsHarry commented on #142
I don't get it either lol, it's an abstract class so I don't understand how the compiler changed it to an interface..

[2015-02-05 16:06] GreatGBL commented on #145
@ZachBora
Yep, When a player claim new plot , this plugin will pasted the schematic on the center;However , I wanna it is nature paste not when the player claim

and sorry my English :(

[2015-02-05 16:07] GreatGBL commented on #145
@ZachBora  you can join my server  to view
IP   112.80.16.202

[2015-02-05 16:17] ZachBora commented on #145
I don't understand this part :
"However , I wanna it is nature paste not when the player claim "

[2015-02-05 16:30] GreatGBL commented on #145
@ZachBora

Sorry my English :(

my mean is if someone claim a plot,This plugin will paste the schematic (config for the path) on this plot .But In my ideal, I want to the plugin auto paste the schematic no matter someone clam in ,becasuse paste large schematic casuse server lag

[2015-02-05 16:37] GreatGBL commented on #145
@ZachBora
where are you living ? I will check your local time and watting for you  :)

[2015-02-05 17:23] ItsHarry commented on #142
Seems to be working well, beside the NPE in PlayerInteractEvent which I have made a pull request for.

[2015-02-05 17:27] GreatGBL commented on #145
Sorry to my poor English ability and discourteous behaviour.
I really like your plugin :)  thx  !

[2015-02-05 17:34] ZachBora commented on #145
@GreatGBL I have an idea, say it in your language and I'll try to translate it.

[2015-02-05 18:44] GreatGBL commented on #145
Translation software is terrible , I try my best .

I have a small server （NO VIP）which has 50-200 players each day .The main server law ,everyone only build his house and farm in plotworld , normal world (minecraft default wolrd) is for mining or excavate. So I creae plotworld ,each plot has 256x256 ,it is so large that players has enough place to build his epic castle.However, most of players do

[2015-02-05 19:54] ZachBora commented on #145
If I understand correctly, you would like that when the world generates, the plot already contain the schematic by default. This can be done.

[2015-02-05 19:59] GreatGBL commented on #145
Aha yep , My means is it

[2015-02-05 20:00] ZachBora opened #148 "Plot "metadata""
PlotMe adds function to store plot "metadata". That is, a table with like

```(PlotId, World, PluginName, SettingName, Value)```

PlotMe would expose a set and get function

```String getPlotProperty(String id, IWorld world, String pluginname, String settingname)```
```boolean setPlotProperty(String id, IWorld world, String pluginname, String settingname, String value)```

If plots are moved, the

[2015-02-06 00:27] Taleson opened #149 "Border Not Resetting After Plot Reset"
I reset a plot to see if everything worked and afterwards the stone did not turn back into marble.

[2015-02-06 01:08] MrNut opened #150 "Users have their claims but cannot build?"
Hi,

My community has pointed out that a user has claimed a plot and it still says that it is in their name (/plotme info) and then they still cannot build even though it says the plot is owned by them?
Any ideas?

Thanks

[2015-02-06 03:08] MattBDev commented on #150
#142

[2015-02-06 03:08] #150 closed

[2015-02-06 03:12] MattBDev commented on #149
I cannot reproduce.

[2015-02-06 03:12] #149 closed

[2015-02-06 03:31] Taleson opened #151 "Border Does Not Change Back"
The border does not reset to marble after unclaiming a plot. It is not an invalid report, for the feller who cannot reproduce, it is a valid problem with the plugin. Fix it because it shouldn't happen. Also, probs a good thing you can't reproduce because you are retarded. :P

[2015-02-06 04:15] #148 closed

[2015-02-06 04:29] MattBDev commented on #151
I am the developer and the one who closed the issue. I closed it was an issue several commits ago but it is fixed now. If you are calling me retarded then you are being very offensive not just to me but to people with an actual disability. Please do not resubmit this.

[2015-02-06 04:29] #151 closed

[2015-02-06 05:49] #138 closed

[2015-02-06 07:09] #43 closed

[2015-02-06 07:10] #143 closed

[2015-02-06 07:10] #142 closed

[2015-02-06 07:11] #141 closed

[2015-02-06 07:12] MattBDev commented on #146
Fixed in 0.16

[2015-02-06 07:12] #146 closed

[2015-02-06 14:47] ZachBora opened #152 "UUIDFetcher"
So right now the UUID updating code isn't working optimaly.

Need to make the code fetch UUID and if it receives an error it should send back the UUID fetcher so those can be updated in the plotme data and then we retry another batch.

[2015-02-06 14:47] ItsHarry opened #153 "Open chests in other people's plots"
Hey,

My players are complaining that it's possible to open chests in other people's plots. I don't whether this was always possible, or that it broke in the latest update.

Thanks

[2015-02-06 14:49] ZachBora commented on #153
Hi harry,

Check in config if chest is protected block (that's 54 for chest and 146 for trapped chest)

[2015-02-06 15:02] GreatGBL commented on #145
@ZachBora
If you need the plugin(has been changed) , I can send to you for help . Plotme is the greatest plugin for ever !

[2015-02-06 15:30] ItsHarry commented on #153
Yes, it's in there, but players are still able to open chests. This problem was not there in 0.15.2

[2015-02-06 16:03] ZachBora commented on #153
I see, must be something we broke... damn. @MattBDev first that has time check into this issue.

[2015-02-06 18:12] GreatGBL commented on #145
Thanks for your greate work . Can I use it in offline server (NO VIP) in 1.8.1 version ?

[2015-02-06 18:55] Puharesource commented on #43
Sounds good :+1:

[2015-02-06 20:42] MattBDev commented on #153
I am not sure what caused it to break because all the code for it is the same.

[2015-02-06 20:44] MattBDev commented on #145
"(NO VIP)" is a term that I've never heard of so I have no idea what you mean by that. Offline server are not supported unless you use bungee or lillypad or something along those lines to authenticate users.

[2015-02-06 20:56] ItsHarry commented on #153
Why do I see this in the plugin.yml?

[code]

[2015-02-06 21:00] PrisonHeist commented on #146
I get this in console:
[20:58:13 INFO]: [PlotMe] Finished fetching 5011 UUIDs. Starting database update
.
[20:58:13 WARN]: [PlotMe] Name not found at mojang : hinsky1992, removing.
[20:58:13 WARN]: [PlotMe] Name not found at mojang : mvporder69, removing.
[20:58:13 WARN]: [PlotMe] Name not found at mojang : flashfox49, removing.
[20:58:13 WARN]: [PlotMe] Name not found at mojang : so_cal_badass, r

[2015-02-06 21:05] #153 closed

[2015-02-06 21:15] GreatGBL commented on #145
"NO VIP“means is my server is free server ,player do not  necessary pay for anything .

My server used bungee,but bot bungee and server are offine , so I can not use the plugin ?

[2015-02-06 21:18] PrisonHeist commented on #146
Here is what my PlotMe config file looked like before update:

worlds:
  Plots:
    PlotAutoLimit: 1000
    PathWidth: 7
    PlotSize: 30
    BottomBlockId: '7'
    WallBlockId: '44'
    PlotFloorBlockId: '2'
    PlotFillingBlockId: '3'
    RoadMainBlockId: '112'
    RoadStripeBlockId: '155'
    RoadHeight: 64
    DaysToExpiration: 5000
    ProtectedBlocks:
    - 54
    - 61
    - 62
    - 120

[2015-02-06 21:19] PrisonHeist commented on #146
Here's a video on what is happening:
https://www.youtube.com/watch?v=eLs-pbLBQeM&feature=youtu.be

[2015-02-06 21:43] ZachBora commented on #146
@PrisonHeist I understand this issue, someone had a friend on his plot. This friend changed name. Upon server start that friend didn't have access anymore so he readded that person to his plot.

But then the converter tried to replace the old name for the new name and it did the violation. I will add a check to not re-add existing names.

[2015-02-06 21:44] PrisonHeist commented on #146
I have kept the server offline since the name change update so no one has been online to readd anyone to a plot

[2015-02-06 23:11] MattBDev commented on #145
We don't support offline servers a.k.a "cracked" servers. It is an issue with protections and we are not allowed to support offline servers due to bukkit dev rules.

[2015-02-06 23:44] GreatGBL commented on #145
How about this : bungess is online but server is offline

[2015-02-06 23:48] MattBDev commented on #145
Yes. *facepalm*

[2015-02-06 23:59] #105 closed

[2015-02-07 00:02] GreatGBL commented on #145
OK, Thanks for your great work !!

[2015-02-07 00:21] #144 closed

[2015-02-07 01:07] GreatGBL commented on #145
Excuse me ,one more question , I want to know what the reason about unsupport with offine , hard match about UUID , your copyright  or Mojang's benfit ?

[2015-02-07 01:13] ZachBora commented on #145
@GreatGBL please don't discuss offline in this issue, this is about Terrain not offline servers. There is already another issue open about offline here https://github.com/WorldCretornica/PlotMe-Core/issues/127

[2015-02-07 01:16] ZachBora commented on #152
Fixes

[2015-02-07 01:16] #152 closed

[2015-02-07 01:38] GreatGBL commented on #127
@ZachBora
Enn, the reason of unsupporting offline is could not match correct UUID ?
I have an idea ,use Authme for register each player's name in the server. so each plot can correct match each player.

Can I do that ? I promise,I DO NOT sell any VIP or game's items .It is free server ,In my country , over 90% players haven't got genuine account , In the other word , they play offline server . If

[2015-02-07 03:01] MattBDev commented on #127
@GreatGBL I am not sure why you keep mentioning the selling of items to players? This has nothing to do with this issue.
A "cracked" server is also referred to an offline server and usually supports users that are using a version of the game that they did not legally obtain. Due to this reason, they can choose any name they like and will not have a Mojang UUID. Their UUID will be based upon their

[2015-02-07 04:06] BOT-Neil opened #155 "PVP and Mob Damage in Plotworld"
Hi plotme is blocking pvp in plotworld. I say's "You cannot build here" if you are added to the plot or an op you can build. But for 4x4 plot arenas that doesn't help...

[2015-02-07 06:10] MattBDev commented on #155
I will allow the option for PVP in 0.17

[2015-02-07 10:16] KoolKrafter opened #156 "Database error"
When starting the server for the first time after upgrading from 0.15.1 I get this error: http://pastebin.com/48GvKJti

I'm using version 0.16.1

[2015-02-07 11:31] PrisonHeist opened #157 "Upgrading problems #2"
This is a follow up to Upgrading problems: https://github.com/WorldCretornica/PlotMe-Core/issues/146

After upgrading to the latest PlotMe there are problems with the coordinates of the plot, see video: https://www.youtube.com/watch?v=eLs-pbLBQeM&feature=youtu.be

This was my PlotMe configuration BEFORE updating:
worlds:
Plots:
PlotAutoLimit: 1000
PathWidth: 7
PlotSize: 30
BottomBlockId: '7'
WallB

[2015-02-07 11:32] PrisonHeist commented on #157
I may have over 1000 plots, could it be that I need to change the PlotAutoLimit in old config before running the server for first time with new version of PlotMe?

[2015-02-07 11:45] EvilOlaf commented on #157
I don't think so because the PlotAutoLimit value means that if a user uses /plot auto and after 1000 tries the system could not find a free plot it will respond to the user to ask an admin for a free plot.

[2015-02-07 11:50] TheChampTF opened #158 "Conversion to UUID failed"
Environment:
Java version: 1.8.0_31 Oracle Corporation
Operating system: Linux 2.6.38-8-server amd64
Bukkit version: git-Bukkit-e81edfc (MC: 1.8)

Plugin: PlotMe 0.16.1

[12:44:53 ERROR]: [PlotMe] Conversion to UUID failed :
[12:44:53 ERROR]: [PlotMe] [SQLITE_ERROR] SQL error or missing database (no such table: TEMPPLOTMEALLOWED)
[12:44:53 ERROR]: [PlotMe]   org.sqlite.DB.newSQLException(DB.java:3

[2015-02-07 12:10] GreatGBL commented on #155
You can use "Plotme animal"

http://dev.bukkit.org/bukkit-plugins/plotmeanimal/

[2015-02-07 12:52] GreatGBL commented on #127
@MattBDev
Well,I have a lot of experience about offline server . Now my server's version is 1.7.2 which hasn't got UUID system,players can choose any name they want ,I use Auhtme plugin for mangage each player's name .
Therefore , I was establisbed a acidisland server Last month in 1.7.10.  I found everplayers has got his particular UUID , so I can speculation, offline has his separate mechanism a

[2015-02-07 14:14] orkun1675 commented on #127
My only wish is that you don't disallow PlotMe for servers that run in offline (cracked) mode. I know this is  very easy to do in the technical side. And using player names instead of UUIDS if the server is offline doesn't flag PlotMe as an 'illegal plugin'.

I kindly ask you re-consider this issue. If you could point me in the direction of the methods causing this issue (I couldn't locate them my

[2015-02-07 14:49] YepImRobbie commented on #133
Was this completed in 0.16 it didn't say on the Bukkit update logs regarding the jar.

[2015-02-07 14:52] MattBDev commented on #127
The only troublesome method is the getUniqueId method that gets the uuid of the player. If a server is in offline mode, this is will be calculated based upon the username of the player. Since it is based on the username, every time a user changes their name they will get a brand new UUID.
We don't block users from using the plugin in offline mode. There is nothing in the code that prevents the run

[2015-02-07 14:52] MattBDev commented on #155
That addon isn't compatible with plotme core

[2015-02-07 14:53] MattBDev commented on #157
@evilolaf is correct

[2015-02-07 14:59] MattBDev commented on #158
Duplicate of #156
Please refer to that issue for future updates regarding a fix.

[2015-02-07 14:59] #158 closed

[2015-02-07 15:06] TheChampTF commented on #158
Well the issue is from 1.6 to 1.6.1 not the outdated version

[2015-02-07 15:06] MattBDev commented on #157
You need to make sure all your configs are normal. Be aware there are two config files now.

[2015-02-07 15:07] GreatGBL commented on #127
@MattBDev
@orkun1675

Thx for your help , I will solue the technical problems of UUID by myself ,and thanks for your great work .

[2015-02-07 15:07] MattBDev commented on #133
It was completed. I suggest not downloading the plugin from BukkitDev as they don't really have a good plugin publishing platform. Try downloading it from spigot instead

[2015-02-07 15:09] MattBDev commented on #158
I am well aware. This is the same issue as #156 so I am not keeping two tickets open for the same exact issue.

[2015-02-07 15:53] PrisonHeist commented on #157
I haven't touched the config i just let plotme do the conversion

[2015-02-07 16:05] MattBDev commented on #157
Not smart. check all your settings. there was a known bug in 0.15 that sometimes reset the plot size

[2015-02-07 18:07] PrisonHeist opened #159 "Database error during UUID conversion"
[18:05:00 INFO]: [PlotMe] Checking if conversion to UUID needed...
[18:05:00 WARN]: [PlotMe] Invalid name found : (player), removing.
[18:05:01 WARN]: [PlotMe] Invalid name found : @, removing.
[18:05:01 WARN]: [PlotMe] Invalid name found : @a, removing.
[18:05:01 WARN]: [PlotMe] Invalid name found : @all, removing.
[18:05:01 WARN]: [PlotMe] Invalid name found : [h]mmooney, removing.
[18:05:01 WAR

[2015-02-07 18:07] MattBDev commented on #159
Duplicate of #156

[2015-02-07 18:07] #159 closed

[2015-02-07 19:05] GreatGBL commented on #127
@ZachBora
@MattBDev
@orkun1675

Good news , After a heated discussion by me and OP, I will establish ONLINE server ,less players is not important,is it ?
Could you talk me your used names in minecraft ? I just want to build 3 your's statue for commemoration in my server .

[2015-02-07 19:22] MattBDev commented on #157
I'm going to assume you fixed this?

[2015-02-07 19:53] PrisonHeist commented on #157
I'm not sure yet, I updated to your latest build the one which tells you when you enter plots and since then I get UUID conversion failure messages in console. When I do /plotme auto it gives me a plot which was previously owned by someone else so not sure if this is due to database errors. I'm awaiting a status update on https://github.com/WorldCretornica/PlotMe-Core/issues/156

[2015-02-07 20:20] MattBDev commented on #156
0.16.2 has fixed this issue with commit fb401744476d3b5cf02c029672279ee6d6cb2d2b

[2015-02-07 20:20] #156 closed

[2015-02-07 20:26] PrisonHeist opened #160 "0.16.2 Database UUID problem"
[20:23:38 INFO]: [PlotMe] Checking if conversion to UUID needed...
[20:23:38 WARN]: [PlotMe] Invalid name found : [h]mmooney, removing.
[20:23:38 WARN]: [PlotMe] Invalid name found : _theepicbanana?, removing.
[20:23:38 INFO]: [PlotMe] Fetching 98 UUIDs from Mojang servers...
[20:23:41 WARN]: [PlotMe] Name not found at mojang : 3xis, removing.
[20:23:41 WARN]: [PlotMe] Name not found at mojang : 4

[2015-02-07 20:37] ZachBora commented on #160
@PrisonHeist could you send me your db file?

[2015-02-07 20:47] PrisonHeist commented on #160
http://www.filedropper.com/plots

[2015-02-07 20:50] TheOnlyRealTGS commented on #160
Hm, I've noticed that it removed some player names, that were old.
Aka, the players just changed their name, and it removed it in the console - does this mean that the corresponding plot data is lost?

[2015-02-07 20:52] TheOnlyRealTGS opened #161 "Owner signs don't update"
Title explains the issue

[2015-02-07 20:52] PrisonHeist commented on #160
The player names being removed are from when players added players to their plot but typed the name wrong, these are just names that don't exist in MC.

[2015-02-07 20:53] TheOnlyRealTGS opened #162 "defaultWEAnywhere problem"
I have defaultWEAnywhere: true and have to do /plot weanywhere everytime I login in order to actually be able to use WE anywhere

[2015-02-07 20:54] TheOnlyRealTGS commented on #160
No, the name was not wrong, it's just old - That's why the lookup shows nothing :/

[2015-02-07 20:57] PrisonHeist commented on #160
The names shown from my console logs are all typos

[2015-02-07 21:00] MattBDev commented on #162
Do you have the plotme.admin.weanywhere permission?

[2015-02-07 21:04] MattBDev commented on #160
@TheOnlyRealTGS names can be removed because if there is no UUID stored for them, it checks for the player by name to retrieve the UUID. Because the name no longer exists and their is no uuid to verify their old name, they are removed. It is a unfortunate sacrifice

[2015-02-07 21:17] GreatGBL commented on #127
@ZachBora
@MattBDev
@orkun1675

Thx for your help and great work , I will establish online server , less players is not important , is it ?

[2015-02-07 21:22] TheOnlyRealTGS commented on #162
I'm op

[2015-02-07 21:22] TheOnlyRealTGS commented on #162
I'm op

[2015-02-07 21:29] TheOnlyRealTGS commented on #160
@mattbdev
But not needed.
If you want to get a UUID from any player that has even existed, just do:
https://api.mojang.com/users/profiles/minecraft/<username>?at=1422748800

[2015-02-07 21:31] jomo commented on #160
`https://api.mojang.com/users/profiles/minecraft/<name>?at=<unix timestamp>`

[2015-02-07 21:35] TheOnlyRealTGS commented on #160
@PrisonHeist
I was talking about my own log :)

[2015-02-07 22:21] MattBDev commented on #160
We actually do check for players names from the past to grab their uuid. The database just doesn't like the name i guess. It shouldn't be deleting mass amounts.

[2015-02-07 22:24] MattBDev commented on #161
Fixed for 0.16.3 in this commit 8d613eea9337051f3c4f44378cb31f28a2227d43

[2015-02-07 22:25] MattBDev commented on #162
Fixed in commit 8d613eea9337051f3c4f44378cb31f28a2227d43

[2015-02-07 22:25] #162 closed

[2015-02-07 22:26] MattBDev commented on #160
Fixed by commit 3952a1819fad7993a7a2abc85a7519ced4f88354

[2015-02-07 22:26] #160 closed

[2015-02-07 22:28] darkrider84 opened #163 "Problem at the start."
Hello.
This errors comes if I start the server:

[23:14:29] [Server thread/WARN]: [PlotMe] You are using an unsupported version of worldedit. The PlotMe WorldEdit Listener not be enabled.

[23:15:13] [pool-3-thread-2/WARN]: Exception in thread "pool-3-thread-2"
[23:15:13] [pool-3-thread-2/WARN]: org.apache.commons.lang.UnhandledException: Plugin PlotMe v0.16.2 generated an exception while executin

[2015-02-07 22:30] TheOnlyRealTGS commented on #160
Hmm, I don't get why it removes it then? It's a fully valid (old) name

[2015-02-07 22:31] MattBDev commented on #163
What version of bukkit are you using?

[2015-02-07 22:31] PrisonHeist commented on #160
@TheOnlyRealTGS the names it's deleting for me are fine, they are typos I recognise some of the names for example

[20:24:02 WARN]: [PlotMe] Name not found at mojang : blainebottt, removing.
[20:24:03 WARN]: [PlotMe] Name not found at mojang : blainebotttt, removing.
[20:24:03 WARN]: [PlotMe] Name not found at mojang : blainebott, removing.

The real username is blainebot.

[20:23:38 WARN]: [PlotM

[2015-02-07 22:31] PrisonHeist commented on #160
Thank you for the update @MattBDev it's looking good so far

[2015-02-07 22:32] MattBDev commented on #160
I have to wait for zachbora before making a release

[2015-02-07 22:32] MattBDev commented on #160
I am locking this issue since it is now fixed.

[2015-02-07 22:39] PrisonHeist commented on #157
This is resolved.

[2015-02-07 22:45] darkrider84 commented on #163
Build #3092 1.7.9 R-0.2 (beta)

[2015-02-07 22:48] PrisonHeist opened #164 "/p auto and "now entering ## plot""
Sorry for continuous tickets just two more things,
When doing /p auto it gives me a plot which was previously owned by someone else, it doesn't give the next available plot like for example I did /p auto and it gave me -16;-7 which had some blocks already on it and I have many plots.

Is there a way I can make it so it starts selecting new plots from the last plot ID?

Also, can you add it so that

[2015-02-07 22:51] jomo commented on #164
afaik `/p auto` searches for the next unclaimed plot in some radius, I think there are plans to switch to a "more logical" approach by selecting the next free plot starting at `0;0`.

[2015-02-08 00:01] MattBDev commented on #164
1. You are running a development build that is unsupported. Why are you not running 0.16.3?
2. don't combine two reports into 1 issue
3. If plot auto gives you a plot that is claimed then you have a deeper issue to investigate. either your world settings are corrupt and you should fix them or the database is corrupt. You can check the example configs on the website.

[2015-02-08 00:01] #164 closed

[2015-02-08 00:03] MattBDev commented on #163
I would try upgrading to 1.8 if you can because this is an issue with your version of CraftBukkit

[2015-02-08 00:03] #157 closed

[2015-02-08 02:33] darkrider84 commented on #163
I  cant upgrade... There are too many issues.

[2015-02-08 02:35] MattBDev commented on #163
I sadly can't support your build of bukkit. I don't have access to it and I believe the issue also stems from metrics R0.2 is too old of a 1.7.9 build.

[2015-02-08 02:35] #163 closed

[2015-02-08 04:03] Bullfrog- opened #165 "Invalid Generator??"
So when I create a plotme world with multiverse it says "Invalid Generator. "PlotMe". Aborting World Creation." Please help :l

[2015-02-08 04:50] MattBDev commented on #165
You didn't follow the instructions on the website for installing 0.16.3
The website is plotme.worldcretornica.com

[2015-02-08 04:50] #165 closed

[2015-02-08 07:34] SecretlyJealous opened #166 "Plot Border Change"
This would basically allow a user to make there plot unique by changing their plot border to the item they are holding in there hand, for example If I was holding an oak fence and did /plot border, the border should change to oak fence. This could also be implemented in a different way, /plot border <ID> also seems like another way to execute this feature.

[2015-02-08 12:57] big2002monkey opened #167 "/p Auto major lag"
Whenever someone uses /p auto it lags the server. There are no server logs other than the server crashing (Someone types /p auto: In Console it just comes up with our plugin "Server not responding for # seconds")

[2015-02-08 13:00] EvilOlaf commented on #167
Do you have any crash logs in your main server directory?
looking something like hs_err_pid12258.log

[2015-02-08 13:50] big2002monkey commented on #167
Yes. We do, would you like me to put it in a pastebin/something of that sort?

[2015-02-08 13:57] MarkusAV commented on #166
I like that. But it could cause lag, so maybe add a cooldown option between changing the border

[2015-02-08 13:59] MarkusAV commented on #167
Pastebin or hastebin

[2015-02-08 14:58] ItsHarry commented on #167
Same issue with all versions of 0.16.x. Server freezes for over 30 seconds every time somebody types /p auto

[2015-02-08 17:00] big2002monkey commented on #167
http://pastebin.com/h4z1fqXx

[2015-02-08 17:58] TehMiniman opened #168 "Plotme auto does not work (v. 0.16.3)"
When any player tries to use /plotme auto it just says "no plot found."  This is occurring on version 0.16.3. There are also no errors appearing in console at all.

![2015-02-08_12 54 29](https://cloud.githubusercontent.com/assets/10911225/6097592/fa837ea4-af91-11e4-93f1-361284900345.png)

[2015-02-08 18:38] hasezoey opened #169 "World Generation stopped"
I have a bug for the Team!: (No Plots more!!!)
![javaw 2015-02-08 19-37-20-07](https://cloud.githubusercontent.com/assets/10911626/6097770/fa4838b6-afc9-11e4-92cf-8667495f56dd.jpg)
![javaw 2015-02-08 19-37-17-89](https://cloud.githubusercontent.com/assets/10911626/6097769/fa47ddee-afc9-11e4-9918-0fc3405ed7f6.jpg)
![javaw 2015-02-08 19-37-19-08](https://cloud.githubusercontent.com/assets/10911626/6

[2015-02-08 18:38] hasezoey commented on #169
Please HELP!

[2015-02-08 19:05] FuRiouSOne opened #170 "Remove /p as alias please"
Please remove p as an alias as it interferes with /p for mcMMO party chat toggle. I have disabled it in the plugin/yml file but will be annoying having to do this every time i need to update plotme having to manually adjust your plugin.yml within the jar before updating.

Thanks.

[2015-02-08 19:07] jomo commented on #170
[no](http://wiki.bukkit.org/Commands.yml)

[2015-02-08 19:10] FuRiouSOne commented on #170
@jomo i have tried adjusting the commands alias within bukkit commands file but it doesn't fix the /p for mcMMO party chat toggle. Only way to allow mcMMO party chat to toggle correctly is disabling p as alias within plotme manually or you guys removing it as it was before. plot alias for plotme was just fine, no need to interfere with another plugins alias....

[2015-02-08 19:36] TehMiniman commented on #168
Nevermind I found what was causing the issue. I accidentally set PlotAutoLimit to 0.

[2015-02-08 19:36] #168 closed

[2015-02-08 22:13] big2002monkey commented on #170
Many people use /p instead of Plot.
No way are they removing it for one person...

[2015-02-08 22:29] MattBDev commented on #167
I'll make this an aysnc task and see if that will improve things.

[2015-02-08 22:30] MattBDev commented on #169
Are your generators all set properly? Did you accidently reload the server? If world generation stops for no reason then it isn't a plotme issue.

[2015-02-08 22:31] MattBDev commented on #170
No way we are removing it. You can remove it yourself by modifying the plugin.yml in PlotMeCore.jar

[2015-02-08 22:32] #170 closed

[2015-02-08 23:50] MattBDev commented on #167
Can any of you test this by modifying the plot auto limit to 50?

[2015-02-09 01:09] FuRiouSOne commented on #170
So for 2 years or so you didnt have it (everyone was fine with using /plot [command]) you now decide to screw over mcMMO users by adding it? Interesting concept, thanks.

[2015-02-09 03:33] Koz4Christ opened #171 "Unable to create Plotme World"
I am running Spigot 1.8-R0.1 (8a983f9-9ae3381) and plotme 16.2 but I am unable to create a new plots world (plotme world).  I even added the entry into bukkit.yml.  Here is the error message I get

[22:28:58] [Server thread/INFO]: Koz4Christ issued server command: /mv create plots normal -g PlotMe-DefaultGenerator
[22:28:58] [Server thread/INFO]: Koz4Christ: Starting creation of world 'plots'...[

[2015-02-09 04:26] greeves12 commented on #171
Hey aren't you that guy that does a bunch of plugins?

[2015-02-09 04:27] greeves12 commented on #171
Also to fix your issue the name of the world shouldnt be "plots" you cannot modify the name so put it back to plotworld and everything should work fine

[2015-02-09 05:08] greeves12 commented on #171
And if that doesnt fix it. Go into plotme folder then plotme generator folder then click config now look for the name "plotworld' and change that to "plots"

[2015-02-09 07:25] hasezoey commented on #169
Did you accidently reload the server: I have the plotworld to the head world made and I have Reloadet. the plots must be first /p claim and then are /p reset. only the ways are just not there anymore!
(Sorry for my bad English: I have https://translate.google.de took :D) thanks (I have a new world createt)

[2015-02-09 11:08] MarkusAV commented on #170
@FuRiouSOne Acctually you have two options;
Either modify the PlotMe-Core's "plugin.yml" and delete the "p" command
OR
modify your "commands.yml" file to make the "p" command alias to whatever command you need it to be, more info here: http://wiki.bukkit.org/Commands.yml

[2015-02-09 12:13] MattBDev commented on #170
PlotMe has had /p for awhile. it is nothing new.

[2015-02-09 12:14] MattBDev commented on #171
@greeves12  is right and has explained the issue well. Ticket closed

[2015-02-09 12:15] #171 closed

[2015-02-09 12:15] #169 closed

[2015-02-09 12:16] MattBDev commented on #167
This will also require a rewrite of SQLManager

[2015-02-09 14:05] MattBDev opened #172 "Plot Limits per world"
plotme.limit.<world>.# should possibly be the config for it.
FInd a way to handle this if only one plotworld exists.

[2015-02-09 14:09] jomo commented on #172
shouldn't that be handled by the permission plugin? Most of these allow you to define per-world permissions.

[2015-02-09 14:11] MattBDev commented on #172
Do permissions plugins allow them to do per world permissions? If so then this really isn't needed.

[2015-02-09 14:16] MarkusAV commented on #172
PermissionsEx allows for per-world permissions.., I know that GroupManager(globalgroups.yml) doesn't but not sure about others..
But it wouldn't matter, because PlotMe would still recognize the amount of plots a player have.

This is a needed feature :)

[2015-02-09 15:51] ItsHarry commented on #167
I currently have plot limit set to 300, which gives this message: "No plot found"

When I set it 1000, that's when the command caused lag, so I changed it back to 300.

[2015-02-09 19:04] KingDonut opened #173 "...Invalid report?"
So basically, on **** creative, I changed my minecraft ign to KingDonut, before, it was tomthesailor2002. I now have no permissions what so ever, so is anyone able to get it back to me? I had 2 plots (owner:tomthesailor2002) and 1 plot (owner:KingDonut) and I will be very happy if I culd get them back! Thanks!

[2015-02-09 19:18] EvilOlaf commented on #173
Do you run your server in offline mode?

[2015-02-09 19:48] KingDonut commented on #173
no I dont think so...

[2015-02-09 20:01] MattBDev commented on #173
1) What Minecraft version is the server running.
2) Are you the server owner? If not, I can't help you
3) Are you saying that you have no permissions anymore or that you do just don't own a plot anymore?

[2015-02-09 20:03] jomo commented on #173
4) Which version of PlotMe are you running?

[2015-02-09 23:29] MarkusAV commented on #173
5) Do you like potatoes?
Please try to explain your issue better, right now it looks like this is a problem with your permissions

[2015-02-10 01:00] MattBDev opened #174 "Plot ID handling in Plot Class"
Allow retrieval of Plot ID individual X and Z coordinates from Plot class

[2015-02-10 01:10] jomo commented on #174
I almost did this because it was annoying me so hard although I only made a few changes :D

[2015-02-10 01:13] PrisonHeist opened #175 "/p h returning errors (on dev #75)"
[01:10:29 INFO]: PH_Joe issued server command: /p h
[01:10:29 ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'p' i
n plugin PlotMe v0.17-SNAPSHOT
        at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spi
got-1.7.10-R0.1-SNAPSHOT-1647.jar:git-Spigot-1646]
        at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommandMap.java:18

[2015-02-10 01:17] PrisonHeist opened #176 "[Idea] Clear plot when claimed"
When a user claims a plot it gets automatically cleared first

[2015-02-10 03:39] MattBDev commented on #175
Please use Markdown format the next time you submit because just copying and pasting makes it extremely difficult for me to read.

[2015-02-10 03:46] MattBDev commented on #175
I can't reproduce this. I am not sure how this is an ArrayIndexOutOfBoundsException when there is no array on line 1564

[2015-02-10 03:46] #175 closed

[2015-02-10 03:47] MattBDev commented on #176
No, because this defeats the purpose of having the plot dispose command.

[2015-02-10 03:47] #176 closed

[2015-02-10 03:48] MattBDev commented on #174
@jomo I would love to discuss this this with you in the IRC when you are around

[2015-02-10 09:02] PrisonHeist commented on #176
Can it be an option for the config? as I have quite a few plots with no owners now that should, I don't expire plots so must have been during UUID conversion. I would like when people get new plots that they don't already have tons of items on them.

[2015-02-10 10:15] ItsHarry opened #177 "You can push blocks out of your plot using pistons"
It's possible to push blocks into other plots by using pistons
![2015-02-09_21 28 45](https://cloud.githubusercontent.com/assets/914835/6125424/23f541c0-b116-11e4-8bce-6b119332ae7d.png)

[2015-02-10 11:33] EvilOlaf commented on #176
Usually you don't have a problem like this more than one time, because as you wrote the situation happened under some circumstances at UUID conversion. So it seem you have to just look around and clear all unused plots by hand.
If you have users that can build on any plot ( -> plotme.admin.buildanywhere) you may tell them to claim these plots before building to mark them used.

[2015-02-10 12:29] PrisonHeist commented on #176
Thank you Olaf, I will claim them all until it looks how it should.

[2015-02-10 12:31] PrisonHeist commented on #175
Any ideas what this could be? I've tried regenerating the database, have tried different version of the plugin and have also messed around with my configurations. All commands work except from /plotme home (or variations of this command).

[2015-02-10 12:33] PrisonHeist commented on #166
This would be ok if there was a way of enabling/disabling the option or saying who can/can't do it.

[2015-02-10 12:45] PrisonHeist commented on #175
Update: Build #72 (09-Feb-2015 15:12:39) and below work fine, it's #73 onwards that don't, I assume since the lowercase conversion.

[2015-02-10 13:30] MattBDev commented on #175
now this helps a little more. Thanks for the info

[2015-02-10 13:32] MattBDev commented on #166
Since it is a command, it would have a permission for it.

[2015-02-10 13:36] MattBDev commented on #175
I still can't reproduce but Wait for the next dev build I produce. Also, don't use the # symbol before the build number because it references a previous issue in github.

[2015-02-10 20:06] PrisonHeist commented on #175
Will give it a go with the next build, should I update on this issue or create a new one if it still doesn't work? also sorry about that didn't realise.

[2015-02-10 20:53] MattBDev commented on #175
Not a big issue. I would create another ticket in a few released. The plugin is about to get a bit buggy in my next few commits.

[2015-02-10 22:01] TWSSYesterday opened #178 "Item frames aren't protected by plot settings in plot world."
http://pastebin.com/pvt1tw0a Current PlotMe config
Version: 0.17 Snapshot - http://ci.worldcretornica.com/job/PlotMe-Core/76/

[2015-02-10 23:50] MattBDev commented on #178
What version of Bukkit/Spigot?

[2015-02-11 16:09] TWSSYesterday commented on #178
http://gyazo.com/2ba1227c49aba66248d88b1c31f62fe6
Currently the latest version.

[2015-02-11 22:59] LivingXx opened #179 "SQLPlotMe error "out of memory"
Hi,i am a moderator on a minecraft server we are having trouble with our PlotMe plugin right now and could use some help!
We have just updated from PlotMe 0.13 to PlotMe 0.16 and we want to keep our plot world but everytime we try its comes up with this error:
1.02 14:51:31 [Server] INFO [14:51:31 ERROR]: PlotMeSQL exception on initialize :
11.02 14:51:31 [Server] INFO [14:51:31 ERROR]:   out of m

[2015-02-12 00:44] MattBDev commented on #179
I am not sure what is causing the SQL to run out of memory. Are you using MySQL or no? Also, was there any other error message that you can provide. If you do have a an error message, please use markdown format to paste it here.

[2015-02-12 04:40] MattBDev commented on #127
@MarkusAV is now discussion mediator.

[2015-02-12 04:40] MattBDev commented on #173
Closed because the reporter decided to not follow up.

[2015-02-12 04:40] #173 closed

[2015-02-12 05:48] MattBDev opened #180 "SQL Rewrite"
This rewrite will consist of creating brand new tables to replace the current ones in PlotMe. SQLite's limitations require that we rewrite the tables.
# Plot Unique ID
Each plot will have an *internal* id that is automatically given to the plot when it is added to the database. This will allow for faster and easier queries to the database. To get the internal id, it will require the traditional ty

[2015-02-12 16:03] MarkusAV commented on #127
I don't believe this discussion/issue needs further attention as it's allready determined that PlotMe will not support offline servers.

[2015-02-12 16:03] #127 closed

[2015-02-12 17:00] MattBDev commented on #127
MARKUS HAS SPOKEN!!!!

[2015-02-12 17:20] #179 closed

[2015-02-12 17:28] Autom3 opened #181 "Small bug with easy fix (bucket empty event)"
Hey, I've found a small bug in the code. [link to code](https://github.com/WorldCretornica/PlotMe-Core/blob/master/src/bukkit/java/com/worldcretornica/plotme_core/bukkit/listener/BukkitPlotListener.java#L135)

For the location you look at which block is being clicked, shouldn't this be where the liquid is being placed? Because now people can not click the border of their plot to place a liquid, bu

[2015-02-12 18:12] ItsHarry opened #182 "Can't build in own plot if standing outside perimeter"
You can't place/build blocks in your own plot if you're standing outside of its perimeter.

Not really a bug, but I don't think it's intended as it makes it hard to place certain blocks such as pistons in the correct direction, although I don't see why anyone would ever want to place pistons facing outwards of the plot.

If this is too much work to fix, go ahead and close this because it's really

[2015-02-12 19:30] MarkusAV commented on #127
I will now return to my :goat:

[2015-02-12 19:32] MattBDev commented on #181
I wasn't able to reproduce this. Can you upload a photo or video explaining?

[2015-02-12 19:33] MattBDev commented on #182
I would consider this a big bug.

[2015-02-12 21:13] ItsHarry commented on #182
Alright, thanks

[2015-02-12 21:19] MattBDev commented on #182
I can't see why this is happening but I am going to add some loggers to check.

[2015-02-12 21:24] ItsHarry commented on #182
I should probably add that I'm using 0.16.3, not sure if that makes a difference.

[2015-02-12 21:41] MattBDev commented on #182
Not really. the bug is still present in the latest dev build so it is still an issue. The loggers will help me determine where the check fails to work properly.

[2015-02-12 22:25] orkun1675 commented on #127
@MattBDev taking your word for it I installed 0.16.3 on a live server. But during startup, when converting player names to UUIDS, PlotMe started deleting records in my database stating "Name not found at mojang". For the plugin to work on offline servers also, PlotMe should not delete players which it assign a UUID, but rather assign these users an offline (md5 hash) UUID.

During player checks, i

[2015-02-12 23:15] ichUndSo2014 opened #183 "Expiration not working"
I tried the command /p expired and it said there were no expired plots. I know that is wrong because when I tried /p info the expiration date was February 10th or earlier. The reset expired command also doesn't work. I am using 0.16.3 PlotMe on a Spigot server.

[2015-02-12 23:20] sycoinc opened #184 "Possible Stolen Content in another plugin"
http://www.planetminecraft.com/mod/plotsquared---powerful-plot-generator-and-management-system/

looking through a lot of references to plot me in code in this

[2015-02-12 23:24] TWSSYesterday commented on #178
Any update on this @MattBDev ?

[2015-02-12 23:33] MattBDev commented on #178
I haven't tested this yet. I'll do it right now

[2015-02-12 23:35] MattBDev commented on #183
Please check your spelling and grammar next time you post an issue.

[2015-02-12 23:35] MattBDev commented on #183
Can anyone confirm that these are not working?

[2015-02-12 23:40] MattBDev commented on #184
I am aware of PlotSquared but we already took down the plugin once because they did steal code without giving credit. I am not going into another battle with them unless there is solid evidence.

[2015-02-12 23:40] #184 closed

[2015-02-12 23:41] ichUndSo2014 commented on #183
sorry for bad language i tried my best and this is badly not so much cause i am not a native speaker

[2015-02-12 23:46] MattBDev commented on #178
@TWSSYesterday I can't reproduce it in 0.17 so I am going to try going back to 0.16.3 and testing

[2015-02-12 23:51] MattBDev commented on #178
@TWSSYesterday I was not able to reproduce this

[2015-02-13 00:12] MattBDev commented on #127
@orkun1675 > We technically can't offer offline support because BukkitDev will ban us if we do

[2015-02-13 00:21] TWSSYesterday commented on #178
play.primemc.org Prison server, a player reported it.

[2015-02-13 00:30] MattBDev commented on #178
Thanks for the IP. I'll take a look

[2015-02-13 00:48] MattBDev commented on #178
I still can't reproduce it

[2015-02-13 10:49] TWSSYesterday commented on #178
Ok, thanks :)

[2015-02-13 10:49] #178 closed

[2015-02-13 17:39] jomo commented on #182
Weird, I am quite sure I fixed this in #12.

[2015-02-13 20:37] MarkusAV opened #185 "The PlotMe Wiki"
#PlotMe Wiki Rewrite!
This ticket is regarding the PlotMe Wiki.
Right now is useable and it doesn't look "too bad", however, I'm planning on making some major changes to it which will first of all direct towards design.

##Current plans (feel free to open a new issue regarding improvement)
* New look on the website
* New and better usage of JavaScript to make things easier.
* MAYBE: Move website t

[2015-02-13 20:39] jomo commented on #185
It should be noted you're **not** talking about the [GitHub wiki](https://github.com/WorldCretornica/PlotMe-Core/wiki)... but why not use it?

[2015-02-13 20:51] MarkusAV commented on #185
We want to be able to fully customize our website :)

[2015-02-13 22:22] MattBDev commented on #182
This is caused by an event listener outside of block place . not sure which one of them

[2015-02-13 22:24] jomo commented on #182
My guess is [this WorldEdit listener](https://github.com/WorldCretornica/PlotMe-Core/blob/f94ee381416f163cc5a44b7b5a76174c402eebc4/src/bukkit/java/com/worldcretornica/plotme_core/bukkit/listener/BukkitPlotWorldEditListener.java#L140)

[2015-02-13 22:25] ItsHarry commented on #182
Probably this line then:
[code]

I assume this fetches the ID using the player's location, and not the block location.

[2015-02-13 22:28] MattBDev commented on #182
I'll test my local server without worldedit to check.

[2015-02-13 22:30] MattBDev commented on #182
@jomo @ItsHarry you're both right.

[2015-02-13 22:34] MattBDev commented on #182
Fixed

[2015-02-13 22:34] #182 closed

[2015-02-13 22:34] ItsHarry commented on #182
Awesome, thanks

[2015-02-13 22:34] jomo commented on #182
I actually [did](https://github.com/WorldCretornica/PlotMe-Core/pull/12/files#diff-f2b8dcd49fb5c3cfa59ea39c8f85da4fL131) :D

[2015-02-13 22:40] MattBDev commented on #182
@jomo I was trying to improve performance by creating less objects but while doing so, I reverted what you did. My bad.

[2015-02-13 22:41] jomo commented on #182
:sunglasses:

[2015-02-13 22:44] GreatGBL opened #186 "What is it the meaning “AutoLinkPlots""
I can not find this variable of configuration in http://plotme.worldcretornica.com/core-config.html

[2015-02-13 22:58] jomo commented on #186
From [the old plugin site](http://web.archive.org/web/20140911012253/http://dev.bukkit.org/bukkit-plugins/plotme/pages/configuration):

I found [this piece of code](https://github.com/WorldCretornica/PlotMe-Core/blob/5befedd6c6152aade1822204bfd428cdfd455c58/src/main/java/com/worldcretornica/plotme_core/PlotMeCoreManager.java#L344) which is commented out and no longer used, but it seems like it was

[2015-02-13 23:01] jomo commented on #186
Just found this picture:

![screenshot](http://dev.bukkit.org/media/attachments/50/573/2014-06-28_13.32.41.png)

Note how the plot in the background spans over the size of the two plots in the foreground

[2015-02-13 23:11] GreatGBL commented on #186
@jomo

Aha, Thanks for your help. If I set it FALSE ,the road will be disappeared?

[2015-02-13 23:14] MattBDev commented on #186
The config does nothing. I have left it there so when the feature is available, it can be used.

[2015-02-13 23:15] #186 closed

[2015-02-14 03:47] Hajikiller opened #187 "User Question: How do I create two plotworlds?"
I am trying 2 have 2 plotme worlds. I tried to just put 2 of the same information into config and just change name but when I save it replaces old one with the new. The new plot world works just fine but my old plot world says that it is not a plot world. How do I fix this?

[2015-02-14 03:49] MattBDev commented on #187
I am not sure why it would replace the old world information with the stuff from the new world. When you added the new world did you add it to both the generator and normal plotme config files?

[2015-02-14 03:56] Hajikiller commented on #187
Yes
On Feb 13, 2015 10:49 PM, "Matt" <notifications@github.com> wrote:

[2015-02-14 04:32] MattBDev commented on #187
Yes is really not a helpful answer. I need more details such as your version of plotme, the config files, and the bukkit/spigot version.

[2015-02-14 04:40] Hajikiller commented on #187
I am using Bukkit version 1.7.9-RO.2 plotme version v0.13f. I am also using
McProhosting and plotme config is

worlds:
  plotworld2:
    PlotAutoLimit: 1000
    PathWidth: 7
    PlotSize: 72
    BottomBlockId: '7'
    WallBlockId: '44'
    PlotFloorBlockId: '2'
    PlotFillingBlockId: '3'
    RoadMainBlockId: '24:'
    RoadStripeBlockId: '24:1'
    RoadHeight: 64
    DaysToExpiration: 7
    Protec

[2015-02-14 06:23] MattBDev commented on #187
Your version is no logner supported so this ticket is closed. Please do not file a ticket unless you are using the most up to date version.

[2015-02-14 06:23] #187 closed

[2015-02-14 08:49] MattBDev opened #188 "Config's: HOCON or YAML?"
In order to be compatible with both Sponge and Bukkit/Spigot, a configuration type needs to be picked. Sponge will be using HOCON but Bukkit/Spigot is currently using YAML.
HOCON is a JSON subset that allows comments and it will be closely related to the configuration format Mojang will be using when the Minecraft API is available for use. Details about HOCON can be found at this link: https://git

[2015-02-14 12:55] ichUndSo2014 commented on #183
https://www.youtube.com/watch?v=3qVVt-bNLJw&feature=youtu.be

[2015-02-14 13:27] MarkusAV commented on #188
I don't see any problems switching :ok_hand:

[2015-02-14 13:28] Autom3 commented on #181
Yea no problem, http://gyazo.com/078d875eaff690a5d1cc273de7141bf8 here's one.
Pretty much right clicking a block that's in your plot, but touches the border, will place a sourceblock (not clientside confirmed) and it won't flow everywhere. Plot owners aren't able to remove the water afterwards (i think).

[2015-02-14 13:35] ItsHarry commented on #188
In my opinion, you should just keep YAML. If it ain't broke, don't fix it

[2015-02-14 14:00] ItsHarry commented on #181
I guess he means that you can not place water if you are clicking the slabs

![2015-02-14_14 59 22](https://cloud.githubusercontent.com/assets/914835/6199802/2a810f78-b45a-11e4-852c-d006b598788b.png)

[2015-02-14 14:01] theshadyonehd opened #189 "Spawning mobs/animals"
can you add a setting to restrict players to only spawning mobs/animals on there on plots?

[2015-02-14 14:04] theshadyonehd opened #190 "worldedit out of your plot"
i only tested on a path but players can worldedit on paths that are obviously not claimed by them. they do not have access or used /p weanywhere

[2015-02-14 14:15] Burgerz42 commented on #188
In my opinion, YAML is working fine for us, and I don't see many HCON files out there. I think it would be very confusing to have this.

[2015-02-14 14:23] ItsHarry commented on #177
Nevermind, I tested it myself and I couldn't reproduce it.

[2015-02-14 14:23] #177 closed

[2015-02-14 14:25] jomo commented on #177
IIRC you cab push blocks **into** plots, but not out.

[2015-02-14 14:28] ItsHarry commented on #177
How does that happen though? You would have to push the blocks from a neighboring plot

[2015-02-14 14:29] jomo commented on #177
It can't happen unless someone (i.e. admin) places them on the road

[2015-02-14 14:30] ItsHarry commented on #177
Yeah exactly, that's why I'm closing this =)

[2015-02-14 15:18] ItsHarry commented on #167
@MattBDev @ZachBora
What do you think of what I did here? Mainly, the exists() method I created in SqlManager.
https://github.com/ItsHarry/PlotMe-Core/commit/00cc9bb4b363f7c440b79cd2ce5b887dce90607e

[2015-02-14 15:18] MattBDev commented on #190
Make sure you are using worldedit 6 and do not have defaultWEAnywhere enabled. I am unable to reproduce this

[2015-02-14 15:18] #190 closed

[2015-02-14 15:20] MattBDev commented on #183
the reset expired command is a console only command

[2015-02-14 15:22] ichUndSo2014 commented on #183
ok and what is wrong with the /p expired command?

[2015-02-14 15:48] MattBDev commented on #183
Not sure. I have to check in the code

[2015-02-14 18:26] jomo commented on #188
I agree with @ItsHarry, YAML works great. In fact, you can even use JSON and it's still valid YAML.
YAML supports comments as well and it's even possible to set the type of the value in YAML.

----

When you compare YAML, JSON and HOCON I think YAML is the most user-friendly thing to use.
Does HOCON have any advantages over YAML?

[2015-02-14 18:33] MattBDev commented on #188
The negatives about YAML is that a lot can go wrong and it isn't really "beginner friendly".
HOCON's advantages are:
* more languages support it, also web-browsers
* Beginner friendly
* human-readable
Downsides include more brackets and possibly less features. I think I will stick with YAML and use a library for import instead of depending on Bukkit's system so I can use Sponge.

[2015-02-14 18:39] jomo commented on #188
I'm *very* sure YAML has more parsers than HOCON does. Which web browser can read HOCON files (and what would they do with them)?

Hmm I think YAML would be more beginner friendly than HOCON.

[2015-02-14 18:47] MattBDev commented on #188
I think we will be sticking with YAML due to overwhelming support for it.

[2015-02-14 19:00] MattBDev commented on #180
Updated main plots database to reflect changes of auction removal and addition of plot and home names

[2015-02-14 21:36] Burgerz42 commented on #188
:D

[2015-02-14 23:49] MarkusAV commented on #188
Closing this then :smile:

[2015-02-14 23:49] #188 closed

[2015-02-15 02:58] Phykick opened #193 "PlotMe-DefaultGenerator - Internal Exception Occurs"
Running spigot-1.8 with multiverse, /mv create Creative normal -g PlotMe-DefaultGenerator throws an error. ( Could not pass event WorldLoadEvent to Multiverse-Core v2.5-b692 )
Full startup log: http://pastebin.com/eu4M94Mg
I will post a list of plugins if neccesary, but there are alot.

[2015-02-15 02:59] Phykick commented on #193
Realised I posted this in the wrong section.

[2015-02-15 02:59] #193 closed

[2015-02-15 11:15] ichUndSo2014 commented on #183
The reset expired command also dont work in the console. Both the /p expired command (ingame) and the /p resetexpired command (on cosole) are currently broken i think.

[2015-02-15 13:50] theshadyonehd commented on #190
both of those are not working.

[2015-02-15 16:32] Gikka218 opened #194 "Biome Issue"
I'm pretty sure the default biome of the plotme world is supposed to be plains, like all other superflat worlds, but the biomes in my plotme world are the normal randomly generated ones. Is this intended? If not, is there a fix?

Also, my other multiverse superflat worlds have been doing the same thing.

Any help would be appreciated. Thanks.

[2015-02-15 16:34] MarkusAV commented on #194
You can select what type of biome you'd like to have using the /plot biome command

[2015-02-15 16:37] Gikka218 commented on #194
But isn't that command only for the plot(s) you own? I need the biome changed for the ENTIRE world.

[2015-02-15 16:39] MarkusAV commented on #194
Yes, it's for the individual plot. It's not possible to have a biome for the entire world tho, but I can mark this issue as an improvement.

[2015-02-15 16:39] EvilOlaf commented on #194
As you wrote your other - propably not PlotMe related - flat worlds have the same issue. So it seems that there is something with your server config at all ^^

Usually you can fix the biome issue of PlotMe by adding -t flat to your mv create command.

[2015-02-15 16:43] Gikka218 commented on #194
Thanks, I'll look around a bit in the config and see if I find anything related to biomes.

[2015-02-15 16:43] MarkusAV commented on #194
Just tested what Olaf said, and it seems to work. Nice one :)
´´´/mvcreate plotworld -g PlotMe-Generator -t flat´´´ will fix it.. however, this is only if you have Multiverse tho.., I don't know if it's possible to do this without Multiverse?

[2015-02-15 16:44] MattBDev commented on #194
This was a plotme issue in 0.13f but that version is not supported anymore and this is not the place to report bugs for that version

[2015-02-15 16:45] EvilOlaf commented on #194
Good question, never created a world without world management plugin =)

[2015-02-15 17:22] #174 closed

[2015-02-15 17:29] MattBDev commented on #180
expiredDate has been changed to VARCHAR(16) because DATE is not supported in SQLite. This may require that expired plots need to expire again.

[2015-02-15 17:46] Gikka218 commented on #194
Sorry about that, I didn't realize my version was outdated. I updated the plugin and now it's fixed. Thanks for the help!

[2015-02-15 17:46] #194 closed

[2015-02-15 18:57] diegoandonie99 opened #195 "plot world destroy"
the players can build on their plots but they can destroy, what is the permission to aloud them to destroy

[2015-02-15 19:00] MattBDev commented on #195
Please use better grammar and spelling next time because your comment said "they can build on their plots but they CAN destroy". There is no permission to stop them from building or breaking blocks on their own plot. If they are trying to place blocks on their plot from the road it is a bug at the moment. Make sure you have any other plugins that may be interfering disabled in plotworld.

[2015-02-15 19:00] #195 closed

[2015-02-15 19:10] diegoandonie99 commented on #195
they cant destroy

[2015-02-15 19:21] MattBDev commented on #195
I already explained that there is no specific permission to build and destroy on your own plot. Make sure you don't have spawn protection enabled. Also make sure no other plugins are conflicting. This is not a bug, this is a issue to you specifically. Do not report something here unless you know it is a bug.

[2015-02-15 23:10] MattBDev commented on #180
Work has started in 5abbc8d9e39ac1cdef58be48ebe34995356e170b

[2015-02-16 01:00] GreatGBL opened #196 "Plotme couldn't protect the armor_stand"
Hello , my server is 1.8 online server , I find the plotme plugins could not protect the arrmor_stand ,it means someone can steal the armor

[2015-02-16 01:00] GreatGBL commented on #196
The biggest issues is the arrmor_stand is the entity not the block , so I can not edit the config to protect this

[2015-02-16 01:04] MattBDev commented on #196
If I was to protect this, I would have to sacrifice 1.7 support. More than half of plotme users are using 1.7

[2015-02-16 01:34] GreatGBL commented on #196
Enn.. So I just temporary ban use arrmor_stand in plotworld .Thx for your help

[2015-02-16 01:47] PrisonHeist opened #197 "BottomBlockId"
I'm having problem with setting the BottomBlockId, when I edit my config.yml and put BottomBlockId: '7' then do /plotme reload this line gets automatically removed from the configuration. Have also tried shutting down server changing config then starting back up, still removes it.

I am using dev build 71 from 09-Feb-2015 14:11:45. I cannot use any builds newer than this as I get an error when doi

[2015-02-16 02:09] MattBDev commented on #197
That config was removed. If it is not listed on the website then it doesn't exist

[2015-02-16 02:10] #197 closed

[2015-02-16 02:11] MattBDev commented on #196
I will leave the issue open because it is a bug.

[2015-02-16 02:28] xtoolbearx opened #198 "Not creating flat lands"
My plotme is not creating flat land even when i use (/mv create plotworld normal -g PlotMe) any help?

[2015-02-16 02:59] MattBDev commented on #198
Wrong command. Follow the website guide. Don't submit bugs unless you know it is a bug.

[2015-02-16 02:59] #198 closed

[2015-02-16 16:02] MattBDev opened #199 "Offline Support"
After talking to BukkitDev mods, I have found that the rules were not particularly clear. We are allowed to offer offline support as long as we are not supporting ONLY offline servers. This topic is still tricky because unless a server has a plugin that can manipulate and control an Offline UUID the UUID of the player will change because their name changed. This change will be in versions after 0.

[2015-02-17 00:15] BillyGalbreath commented on #186
Welp. This feature alone was the entire reason I installed this plugin. How disappointing :(

[2015-02-17 08:16] EvilOlaf commented on #199
Sounds good.
Anyway I would prefer not to support offline servers because the most common reason to have a server in offline mode is still piracy I think.

[2015-02-17 16:09] MattBDev commented on #199
It may not happen but I am not going to be worrying about this until after 0.17 due to the massive SQL Rewrite.

[2015-02-17 20:38] poopnozle opened #200 "Players Cannot Destroy Blocks"
After a player claims their plot they can place blocks but not break them afterwards. My spawn protect is set to 0 and I'm sure of it. Is it a plugin interfering? Is there a list of plugins that may cause this issue anywhere?

[2015-02-17 21:44] MattBDev commented on #200
What plugins are you using? It is easier to list only the ones you use rather than me list plugins that can cause issues

[2015-02-17 21:48] poopnozle commented on #200
ActionAnnouncer, BetterBroadcasts, CommandSigns, CS-CoreLib, EmeraldEnchants, Essentials (All of them + groupmanager), EZPrestige, EZRanks, ItemRenamer, Multiverse-Core, NoPL, PlotMe, PrisonGems, PrisonMine, PrisonSuite, PrisonUTILs, QuickSell, StarterKit, TimTheEnchanter, Vault, WGCustomFlags, WorldEdit, WorldGuard, WorldGuard_FlyStop

[2015-02-17 21:52] MattBDev commented on #200
Disable WorldGuard for plotworld.

[2015-02-17 21:58] poopnozle commented on #200
How would I do that? I don't see an option for that anywhere.

[2015-02-17 22:07] poopnozle commented on #200
Also, block breaking only works while in creative mode. Even for OP's.

[2015-02-17 23:29] MattBDev commented on #200
@poopnozle I am going to request that you ask for help on the forums as this is area is for valid bugs in the plugin itself. What you are looking for is setting up the plugin on the server which is not what this section is for. Link to the forums: http://www.spigotmc.org/threads/plotme-official.37327/page-55

[2015-02-17 23:29] #200 closed

[2015-02-20 18:58] orkun1675 commented on #199
Offline mode does not mean piracy.
Why? Well not all people can pay 20 euros for a game, and mojang doesn't force you to. And these people deserve the right to play together with their friends, just like rich people do. Offline servers are thus necessary to have fun for all, as long as they don't violate the EULA in any case.

@MattBDev first of all thank you for looking into this. After running s

[2015-02-20 22:08] Harrify opened #201 "UUID Support Not Working"
So uh, plotme doesn't seem to be supporting UUID's on my server. I'm running the protocol hack and plugin version 0.16.3

[2015-02-20 23:03] MarkusAV commented on #201
Is your server in offline mode?

[2015-02-21 00:06] MattBDev commented on #199
@orkun1675 I need to make a valid check to give these players a UUID and that they will not be removed with the Mojang Validation. This will be fixed in 0.18

[2015-02-21 01:34] Bobcat00 opened #202 "/p reset should reset biome"
The /p reset command should also reset the plot's biome back to default.

[2015-02-21 03:05] MattBDev commented on #202
It doesn't do that already? looks like a bug.

[2015-02-21 09:07] lucasdow1 opened #203 "Invaild Generator! "PlotMe-DefaultGenerator". Aborting World Creation"
Hello,

When i do /mv create plotworld normal -g PlotMe-DefaultGenerator i get this comment "Invaild Generator! "PlotMe-DefaultGenerator". Aborting World Creation" I have checked the config and everything and everything is right. Can you please help me?

Thanks
Lucas Dow

[2015-02-21 09:23] EvilOlaf commented on #203
Make sure that PlotMe-DefaultGenerator has been load properly on server startup.

[2015-02-21 09:31] lucasdow1 commented on #203
Yes it has been.

[2015-02-21 12:04] lucasdow1 commented on #203
Everything works. Just cant make the world.

[2015-02-21 12:23] Bobcat00 commented on #202
Did some more testing.  /p reset does reset the biome, but the client shows the old biome (even in the F# info) until the player relogs.  So I don't know if PlotMe could force an update to the client or not.  If not, I guess you could close this.

[2015-02-21 12:29] #203 closed

[2015-02-21 12:38] EvilOlaf commented on #202
This can not be fixed by PlotMe.

https://github.com/WorldCretornica/PlotMe-Core/issues/41

[2015-02-21 13:26] MarkusAV commented on #202
@EvilOlaf :+1:

[2015-02-21 13:26] #202 closed

[2015-02-21 15:38] NickFirenzo opened #205 "Plotme config.yml, PREVENT items don't work"
I have a problem.. If i type any items for block on plotworld they don't work
Example:
I type at PreventedItems:
- '331'
Number of item is 331 an type /plotme reload, but don't world look on picture..
PIC1: http://prntscr.com/67zqqi
PIC2: http://prntscr.com/67zr0q - I can use redstone, but in config.yml at plotme is prevent and doesen't work.. And others all items don't work for PREVENT!
Please he

[2015-02-21 20:35] Schneiderism opened #206 "TnT Within Plots"
I mainly just have a question regarding TnT and protection. Is there a way to make it so TnT can only destroy blocks that are in a users plot? I want it enabled, but don't want in wrecking the pathways. If it helps, I do use WorldGuard, so I was wondering if that would help?

Thanks for the help,

~Doobs

[2015-02-21 20:46] MattBDev commented on #206
Please ask the community this question instead of filing this in the bug reports.
Link to the plotme forums: http://www.spigotmc.org/threads/plotme-official.37327/
I would answer this here but I don't remember the answer.

[2015-02-21 20:46] #206 closed

[2015-02-21 20:48] jomo commented on #206
Shouldn't be too hard to implement though. You can just copy most of the code from the [StructureGrowEvent](https://github.com/WorldCretornica/PlotMe-Core/blob/95b8057b165b7d9284b7fa53b2643f0dc05b6c97/src/bukkit/java/com/worldcretornica/plotme_core/bukkit/listener/BukkitPlotListener.java#L445).

[2015-02-21 21:41] MattBDev commented on #206
@jomo so is this not already in plotme?

[2015-02-21 21:43] jomo commented on #206
Had a quick look and it seems like it's either disabled completely or it's disabled on roads. But that's only the explosion origin, not blocks affected by the explosion IIRC

[2015-02-22 12:06] Bobcat00 opened #207 "Player cannot board minecarts"
Players without build privileges on a plot cannot board minecarts.  Some players like to build rollercoasters, but then other players cannot ride them.  Please allow other players to board minecarts.

[2015-02-22 15:27] MarkusAV commented on #205
Where you OP/got all plotme permissions when you did this? Players who have all plotme permissions(or just plotme.unblock.#) and/or OP will bypass the prevented items listing.

[2015-02-22 20:16] NickFirenzo commented on #205
No i'm not op, default member can place redstone, plotme config.yml don't work for prevent items..

[2015-02-22 21:03] #207 closed

[2015-02-22 21:10] MattBDev commented on #97
I am adding this to 0.17 and it will work as follows:
- All players that are currently allowed on plots will be allowed to build at any time. (To make it easy to upgrade)
- In the plot allowed table where allowed player data is stored, there will be a column that says trusted and it will be set to true by default.
- the trusted column is a boolean and is set to true if you can build at any time an

[2015-02-22 21:14] MarkusAV commented on #205
Did you try put the redstone in preventedBlocks?

[2015-02-23 05:22] MattBDev commented on #97
I am actually going to switch the name of the column to be "offlineOnly" and the default will be false.

[2015-02-23 17:13] NickFirenzo commented on #205
redstone with latters or with number of item(ID)?

[2015-02-23 17:41] MattBDev commented on #205
Are you trying to prevent some members from using Redstone but allowing others? If so, that is a violation of the Minecraft eula

[2015-02-23 17:45] EvilOlaf commented on #205
Yes, if these members being charged for real cash. Otherwise it's ok.

[2015-02-23 21:12] GreatGBL opened #208 "2 bugs with plotme_core"
[05:07:27] [Craft Scheduler Thread - 1556/WARN]: java.io.IOException: Server returned HTTP response code: 400 for URL: https://api.mojang.com/profiles/minecraft
[05:07:27] [Craft Scheduler Thread - 1556/WARN]: 	at sun.net.www.protocol.http.HttpURLConnection.getInputStream(Unknown Source)
[05:07:27] [Craft Scheduler Thread - 1556/WARN]: 	at sun.net.www.protocol.https.HttpsURLConnectionImpl.getInput

[2015-02-23 21:15] GreatGBL commented on #208
additional：  my server is 1.8.1 spigot online(not offline) server , use the 0.16.3 version plot plugin

[2015-02-23 21:34] MattBDev commented on #208
The first one is an error connecting to Mojang and I have no control over that. The second issue is something that doesn't seem like it is caused by plotme.

[2015-02-23 21:34] #208 closed

[2015-02-23 21:37] jomo commented on #208
The first one is a 400 response, which means [Bad Request](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error). All 4xx errors are **client** errors.
For some reason you created a malformed request.

Was there any other PlotMe log before the error @GreatGBL?

[2015-02-23 22:01] MattBDev commented on #208
@jomo I have continuously been unable to reproduce the 400 error. I will continue trying to find it

[2015-02-23 23:36] GreatGBL commented on #208
@MattBDev
Thanks for your help , I think the second issuse caused by Framing Protect plugin, I will check

[2015-02-24 01:48] AustinTX1985 opened #209 "PlotMe-Default Generator fails to create new world"
When attempting to create a plot world using PlotMe and the PlotMe-Default Generator in conjunction with Multiverse, I get a several line error in the console that ends up pointing to a NulPointerException in the generateExtBlockSections part of the plugin. Here is a pastebin of the entire error: http://pastebin.com/fjRa1Rzc. Any help will be greatly appreciated as we are really wanting to create

[2015-02-24 02:00] AustinTX1985 commented on #209
Wrong place, sorry. Opening in Default Generator area.

[2015-02-24 02:00] #209 closed

[2015-02-25 18:54] jomo commented on #208
Hmm, I can confirm Mojang returns 400s for no valid reason. It's very rare, but it does happen.
You could just catch these errors and try again 1 more time, that will most likely fix it.

[2015-02-28 05:54] MattBDev commented on #205
I went back into the changelogs and found the original description on how Prevented Items was meant to work and be used:

Your use does not meet this description and the issue will be closed.

[2015-02-28 05:54] #205 closed

[2015-02-28 10:54] garyharry opened #210 "Number of plots being generated"
Hey
I'm pretty new to minecraft servers.  Just installed the plotme plugin and changed the PlotAutoLimit to 50.  However I'm still getting very large amounts of plots being generated.  Also for some reason I have a Default-Generator folder for the plugin which as a separate config file.

Sorry if this as been answered a million times but I have been googling for sometime and haven't found any info

[2015-02-28 10:57] EvilOlaf commented on #210
You just did not understand what PlotAutoLimit does.
This variable has NOTHING to do with world generation.

PlotAutoLimit limits the number of plots which can be claimed with the plot auto command. If more than X plots already have been claimed and someone tries to use /plot auto the command will notify the player that no free plots have been found and ask an admin to manually give the player a p

[2015-02-28 11:00] garyharry commented on #210
Thanks for the reply.  I'm sorry I am guilty of not reading the configuration plotme core information.  I just read it :/

Is World Border easy to setup?

[2015-02-28 11:03] EvilOlaf commented on #210
I think so. Just read the documentation and use Google  and you'll be fine.

[2015-02-28 14:24] #210 closed

[2015-02-28 16:43] jomo commented on #210
@EvilOlaf

:sunglasses:

PlotAutoLimit **limits the radius** in which unclaimed plots are **searched** with the plot auto command.
I'm quite sure about that.

[2015-02-28 19:25] phantomrider34 opened #211 "PlotMe : Worldedit bug."
You can use WorldEdit to destroy plots on PlotMe servers.
This can be done by the /repl command, but I go into more detail in my WorldEdit report.
(http://youtrack.sk89q.com/issue/WORLDEDIT-3270)
Plots can be griefed due to blocks on the plot being replaced by your chosen block in the /repl
command. (This should be blocked inside and outside of plots that you do not own)
The server I play on uses

[2015-02-28 19:30] jomo commented on #211
Any command that isn't limited by the gmask is able to modify blocks.

[2015-03-01 11:50] MarkusAV commented on #210
Minecraft worlds are acctually limited to 30,000,000 blocks :stuck_out_tongue:
This is the description of PlotAutoLimit: "The maximum number of plots to check starting at spawn until a free plot is found."

[2015-03-01 11:53] jomo commented on #210
±30M (in all 4 directions), IIRC

[2015-03-01 12:21] jomo commented on #210
I took a quick look into the code and what it *actually* does is starting at plot `0;0` (not necessarily spawn) and then searches up to `plotAutoLimit²` plots for an unclaimed one.

It seems to be searching in all directions, I think it may be doing it in a (squared-)spiral strategy, at least there was some recent discussion about doing that.

[2015-03-01 23:17] MattBDev commented on #210
@jomo I recently changed that. It does a check at 0;0 in a spiral.

[2015-03-02 06:25] EvilOlaf commented on #210
Maybe I had to add the information that PlotMe searching from the middle. Thought that was obvious.

[2015-03-02 17:06] TheOnlyRealTGS opened #212 "Error on startup"
http://pastebin.com/9di2N5s9

[2015-03-02 17:13] EvilOlaf commented on #212
Please use either markdown (https://guides.github.com/features/mastering-markdown/) or pastebin to send logs. No one wants to read this unformatted waste.

[2015-03-02 17:32] TheOnlyRealTGS commented on #212
It was short, that's why I didn't bother.

[2015-03-02 17:34] EvilOlaf commented on #212
Even though everyone would appreciate if it is formatted in some way ;)

[2015-03-02 20:26] MattBDev commented on #212
I have a fix in the next dev release that builds. The dev releases are extremely unstable and should not  be used. (All except for the one recommended on the resource page)

[2015-03-02 20:26] #212 closed

[2015-03-02 21:02] TheOnlyRealTGS commented on #212
Oh, okay.

[2015-03-02 22:48] hamhamfreak opened #213 "Plotme 1.7.10 errors Help"
[14:06:46] [Server thread/ERROR]: Could not pass event PlayerTeleportEvent to PlotMe v0.13f
org.bukkit.event.EventException
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:302) ~[spigot-1.7.10.jar:git-Spigot-1627]
	at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigot-1.7.10.jar:git-Spigot-1627]
	at org.bukkit.plugin.SimplePluginManager.

[2015-03-03 00:19] MattBDev commented on #213
You are using an unsupported and outdated version of plotme. Please do not report errors for an old version. If you do report errors, use markdown format because posting like you did is really annoying.

[2015-03-03 00:19] #213 closed

[2015-03-03 14:24] ProsperCraft opened #214 "Updating old server- org.apache.commons.lang.UnhandledException: Plugin PlotMe v0.17-"
I am updating a really old server, I just loaded in and have not been into the plotworld yet.

I get this when loading in the first time during startup with the latest snapshot- build 103

[06:58:35 WARN]: Exception in thread "Craft Scheduler Thread - 10"
[06:58:35 WARN]: org.apache.commons.lang.UnhandledException: Plugin PlotMe v0.17-SNAPSHOT generated an exception while executing task 6

Caused

[2015-03-03 16:23] MattBDev commented on #214
If you are not running the development build as listed on the website, I cannot help you. Development builds are not recommended unless needed.

[2015-03-03 16:23] #214 closed

[2015-03-03 16:30] ProsperCraft opened #215 "Unhandled exception executing command 'plotme' in plugin PlotMe v0.16.3"
I am updating an old server using the recommended build and get this error when doing /plotme auto

http://pastebin.com/qnJBwEEt

[2015-03-03 16:34] MattBDev commented on #215
Read the instructions on the website because you did not setup plotme properly.

[2015-03-03 16:34] #215 closed

[2015-03-04 14:40] GreatGBL opened #216 "Plot couldn't protect storage,powered Minecart etc."
Plot couldn't protect storage,powered Minecart  etc.
Everyone can destory it

[2015-03-04 19:02] LPGamersRob opened #217 "Making a new feature for a spawn area in single world plotworld's"
hi there.

i know this seems like a lot of work but i actually love plotme but i'm having a stress time a the moment with making a singular world spawn area, I desperately want to keep away from making a multiverse server where i have a separate world for my spawn.

i was thinking is there any way that a feature could be added where as you can use worldedit on the plotworld to select an area and d

[2015-03-04 20:07] MattBDev commented on #217
If you can elaborate a bit and if needed, use pictures to explain, it would help me a bit :)

[2015-03-04 20:08] MattBDev commented on #216
This sounds like more of a bukkit/spigot bug. More details are needed

[2015-03-04 20:31] LPGamersRob commented on #217
okay so if i was in the plot world, at the moment i would have to make a spawn out of the plots that are there, but this is restrictive because of the world guard that plotme uses to make plots unbreakable.
so using plots is a hard thing to do as you have to allow players access to the plots so that they can use third party plugins, but this also give them access to break the spawn then,

so my id

[2015-03-04 21:12] MattBDev commented on #217
If I understand correctly, you want an ability to merge plots to create a spawnpoint built of multiple plots because the restriction of not building on roads makes it difficult to make a nice spawnpoint?

[2015-03-04 21:18] LPGamersRob commented on #217
yes that is essentially what i mean yes but with the ability of that combined plot to have the world guard removed from it.

[2015-03-05 00:48] jomo commented on #217
related: #186

[2015-03-05 06:34] EvilOlaf commented on #217
So it seems to be all about plot merging. That is a quite long expected feature and will eventually integrated....well, I hope so ;)

The opposite feature might be to be able to disable the plotme protection for an area at all so in this area everyone could build without any restrictions. In these areas further controls about user activity could be enforced by using a 3rd party plugin like WorldGu

[2015-03-05 06:49] MattBDev commented on #217
This idea is similar to plot merging but it is possible for it to be accomplished without plot merging actually working. I want to get more feedback on this before I do work on this.

[2015-03-05 06:50] MattBDev commented on #216
@GreatGBL this means you need to give me more details because I can't reproduce this.

[2015-03-05 14:24] LPGamersRob commented on #217
i think that ill make a small video for this on what i mean because i think i can talk about this easyer than i can type ?

Thank you all for feedback and help though

[2015-03-05 17:41] godleydemon opened #218 "[Bug] Plot world generation broken"
Seems I'm getting a server crash on attempting to generate a plot world on first server run without trying to generate any other worlds.

Latest.log: http://pastebin.com/G6aMXKut
Crash report: http://pastebin.com/jBxF001r

I'm using
Plotme: Build #110
Plotme Generator: Build #41

spigot.yml: http://pastebin.com/M2KZnD2n
bukkit.yml: http://pastebin.com/pG25ndVw
server.properties: http://pastebin.co

[2015-03-05 18:17] LPGamersRob commented on #217
hi again i have now made the video.. it is on youtube Here is the link

https://www.youtube.com/watch?v=vxozIdYZ2-o&feature=youtu.be

[2015-03-05 19:13] MattBDev commented on #217
Good video. I understand what you are saying and I will put this into PlotMe-Core as soon as it is stable enough to handle it, meaning after 0.17 but I will add this or something extremely similar.

[2015-03-05 19:25] EvilOlaf commented on #217
Nice.
It seems that this is basically that what I described above as the opposite feature :D

[2015-03-05 19:45] LPGamersRob commented on #217
yes it is what you described ... and thank you for all your help and i do look forward to this being added it would make life alot easyer :)

[2015-03-06 11:52] MarkusAV commented on #218
If you left the files of PlotMe untouched, then you didn't change the worldname? The default world of PlotMe is "plotworld". In your Bukkit.yml, rename "world" to "plotworld" and I'm pretty sure you'll be all set!
For further instructions, visit http://plotme.worldcretornica.com

[2015-03-06 11:52] #218 closed

[2015-03-06 23:09] Kunark2910 opened #220 "Creating multiple PlotWorlds with spigot.yml"
I have a spigot 1.8 server. In the config there is also a bukkit.yml! I'm not sure if that bukkit.yml will work but the new spigot.yml does not have the world section.

[2015-03-07 06:35] Schneiderism opened #221 "Merging Plots Together"
I allowed a rank on my server to have their plot claim limit to be 2. How would I go about merging their two plots together to act as one plot. The road is the biggest inhibitor since they can't build across it. Any help? Let me know if more information is needed.

[2015-03-07 07:19] EvilOlaf commented on #221
Unfortunately plot merging is not possible yet.

[2015-03-07 07:55] #220 closed

[2015-03-07 17:34] flatbmx opened #222 "Unable to create new plotworld in 1.8"
When creating a new world using either latest builds from spigot or dev builds exception is thrown while generating chunk then world is bugged in mv.

http://pastebin.com/ym7YxauW

[2015-03-07 17:43] EvilOlaf commented on #222
Did you setup a world called `test` in your PlotMe config and PlotMe-DefaultGenerator config properly?

[2015-03-07 18:03] flatbmx commented on #222
Yes, I have the corrent setup for the world in mv/plotme/plotme-defaultgenerator and it still fails.

[2015-03-07 18:43] MattBDev commented on #222
This issue was not reported in the right section but it is being worked on because someone did submit a ticket before you in the right place. I will be closing this ticket and will give you the link to the other ticket as soon as I can

[2015-03-07 18:43] #222 closed

[2015-03-07 22:26] MattBDev commented on #222
@flatbmx @EvilOlaf the issue can be tracked here: https://github.com/WorldCretornica/PlotMe-DefaultGenerator/issues/10

[2015-03-08 18:22] YepImRobbie opened #223 "How can I disable dispensors"
Dispensers are a really big problem since people are making sand fall into the cobweb then getting tnt to make it blow out onto the roads and plots.

[2015-03-08 18:44] MattBDev commented on #223
This is not a bug nor a suggestion so your post should have not been made here. Next time, please use the spigot forums to ask a question like this.
PlotMe does not offer any way to disable a block in a world. Plugins like WorldGuard are what you are looking for. I hope this helps you.

[2015-03-08 18:44] #223 closed

[2015-03-08 22:16] #196 closed

[2015-03-08 22:17] #181 closed

[2015-03-08 22:17] #216 closed

[2015-03-09 14:58] GreatGBL commented on #196
in 5bbd3c7  ?  means it was update ?

[2015-03-09 18:03] Gerbia opened #224 "no flat"
hello think a world of plots like the tutorial says

/ mv create {NAME} Normal -g PlotMe-DefaultGenerator

changing the {NAME} per plot

but I believe a normal world, not a plane or flat.

help

[2015-03-09 18:11] EvilOlaf commented on #224
To cut a long story down: What?

[2015-03-09 18:12] Gerbia commented on #224
create a world with comendo .. but instead of a flat world divided into plots created a normal world is created

[2015-03-09 18:21] EvilOlaf commented on #224
Then you did not setup PlotMe properly.
Read the installation instructions carefully: http://worldcretornica.github.io/PlotMe-Core/setup.html

[2015-03-09 18:44] #224 closed

[2015-03-09 18:49] Gerbia commented on #224
if so did

put this / mv create parcela1 regular -g PlotMe-DefaultGenerator

I get faild

if I put this / mv create parcela2 regular -g PlotMe

the world is created but no plot and no plane

[2015-03-12 11:59] FiveStarHD opened #225 "PlotMe wont load correctly"
when i put in /mv create plotworld normal -g PlotMe-DefaultGenerator it loads but when i tp to the world using /mv tp plotworld then it just takes me to a usual survival world i dont know what to do anymore im running 1.8 spigot and multiverse

[2015-03-12 12:57] MattBDev commented on #225
In the future, something like this is better suited for the forums as it is not a bug.
If you are not getting console errors then I can't explain the behavior. I recommend following the steps on the website on adding the world to the bukkit.yml

[2015-03-12 12:57] #225 closed

[2015-03-13 10:58] oloflarsson opened #226 "Multiple Null Pointer Exceptions"
[code]

[code]

[2015-03-13 11:10] oloflarsson commented on #226
Also
[code]

[2015-03-13 11:46] oloflarsson commented on #226
Also
[code]

[2015-03-13 11:46] oloflarsson commented on #226
Out of curiosity, do you even bug test your plugins? :cry:

[2015-03-13 16:09] MattBDev commented on #226
I do but I have stated MANY MANY MANY *MANY* times that 0.17 doesn't work yet. I haven't finished the SQL Rewrite and if you look at the code, many functions return null without doing any work.

[2015-03-13 16:09] #226 closed

[2015-03-13 23:45] areqpl opened #227 "Can't fight mobs inside of not owned plot"
Hello, it's frustrating for my players that they can't fight any mob they encounter on a plot area that doesn't belong to them. An option to choose whether to block dealing damage to entities would be great!

[2015-03-13 23:47] areqpl opened #228 "Players can steal items from item frames"
Hello, right now anyone can just take out any item from any item frame on any plot. It makes item frames pretty useless. Please fix the issue.

[2015-03-14 01:39] MattBDev commented on #228
I cannot reproduce this issue. This has been fixed MULTIPLE times.
Please provide the following information: Bukkit/Spigot Version, Minecraft Version, and how to reproduce.

[2015-03-14 01:40] MattBDev commented on #227
Please refer to issue #155

[2015-03-14 01:40] #227 closed

[2015-03-14 01:41] MattBDev commented on #201
Due to @Harrify never replying to this issue we will be closing it.

[2015-03-14 01:41] #201 closed

[2015-03-14 01:45] MattBDev commented on #172
I don't know about offering support for this. Because some players don't care for instructions and like to do whatever they want, I can't count on someone following the format @MarkusAV is suggesting. Permissions plugins should really have per world permissions.
GroupManager is a plugin that won't be receiving features for bukkit except for compatibility whenever a new version of Bukkit is release

[2015-03-14 01:48] MattBDev commented on #228
I would also like to note that if you do not follow up in the next 24 hours, this issue will be closed. I am running on a tight timeline atm.

[2015-03-14 03:52] jomo commented on #228
@MattBDev you can create a `CONTRIBUTING.md` file where you ask for the details you always need plus some general guidelines. GitHub will show everyone this notice when they open an issue or PR:
![contributing screenshot](https://i.imgur.com/FfaoJK5.png)

[2015-03-14 15:09] areqpl commented on #228
Spigot version: 1646, MC 1.7.10
PlotMe version: 0.16.3, but I also tested on the newest development build
To reproduce, you hit item frame with your hand, then the item inside of frame drops out.

[2015-03-14 19:59] MattBDev commented on #228
I am still not able to reproduce and the next version of PlotMe will only support MC 1.8/1.8.3

[2015-03-15 05:29] Lineah opened #229 "plotme causing 429"
Ok about a week ago i started getting this error msg:

[00:16:39] [Craft Scheduler Thread - 26/INFO]: [PlotMe] Checking if conversion to UUID needed...
[00:16:39] [Craft Scheduler Thread - 26/INFO]: [PlotMe] Fetching 1 UUIDs from Mojang servers...
[00:16:40] [Craft Scheduler Thread - 26/WARN]: java.io.IOException: Server returned HTTP response code: 429 for URL: https://api.mojang.com/profiles/min

[2015-03-15 05:31] Lineah commented on #229
http://pastebin.com/mADmg7Qw

[2015-03-15 11:48] #229 closed

[2015-03-15 11:48] MattBDev commented on #229
Duplicate and this is nothing we can fix as it is a mojang issue

[2015-03-15 13:40] MattBDev commented on #229
@Lineah I also want to let you know I am making modifications to the UUID Fetcher and the error message will not spit out a bunch of ugly stuff like it did for you. It will be a one line message explaining what happened.

[2015-03-15 17:26] TheOnlyRealTGS commented on #161
What events trigger this? I tried to place/break blocks, and marking/unmarking the plot as done, it doesn't update.

[2015-03-15 17:56] MattBDev commented on #161
it actually wasn't fixed since there was a bug with the attempted fix. Thanks for updating this. i'll reopen

[2015-03-16 14:39] #228 closed

[2015-03-16 14:41] MattBDev opened #230 "Implement Custom Home Locations w/ Constraint"
This is a bug in 0.17 only. This will allow the user to set the location of where they will be teleported when they use /plot home . The coordinates stored in the database will be normal minecraft coordinates, not relative to any spot.

[2015-03-16 14:42] MattBDev commented on #189
I will be adding this later today.

[2015-03-17 13:00] theshadyonehd commented on #189
:) :+1:

[2015-03-17 16:06] tiggyfav opened #231 "Plotme"
how do i make 2 plotme worlds and make them not mix when people do /plotme claim or /plot h

[2015-03-17 16:12] MattBDev commented on #231
This is a place for bug reports. Not questions. Please ask this question on the forums and refer to the website for details.

[2015-03-17 16:12] #231 closed

[2015-03-17 18:29] MattBDev commented on #189
@theshadyonehd When you submitted this, did you mean that players could spawn animals with spawn eggs?  I am working on that right now. The issue will be closed as soon as I submit the Commit for it but if it closes, please still reply.

[2015-03-17 20:33] #189 closed

[2015-03-18 15:21] WillyBee55 opened #232 "Pulling blocks with Sticky pistons"
A user can pull the border of their plot inwards by using a sticky piston. They can not push the slab back into it's spot however, making extra work for myself. If that could fixed, that would be wonderful.

This is the piston before
http://i.imgur.com/Eozbwqk.png

After being activated, it pulled the slab
http://i.imgur.com/yc3wTJ7.png

Piston is activated, but not able to push slab back onto the

[2015-03-18 15:24] jomo commented on #232
Weird, I fixed that in #23. Which version are you using?

[2015-03-18 17:00] MattBDev commented on #232
Fixed in a recent commit. It is already fixed for 0.17

[2015-03-18 17:00] #232 closed

[2015-03-18 17:29] MattBDev commented on #232
@WillyBee55 thank you for the report and the detail you put into it. I appreciate it. If you find more bugs, let me know :smile:

[2015-03-19 14:10] theshadyonehd commented on #189
Sorry for the late reply.

Yep, I meant spawning animals with spawn eggs. Another addition could be a limiter of animals per plot maybe?

[2015-03-19 14:18] MattBDev commented on #189
@theshadyonehd I will revist limiting animals per plot after version 0.17 is ready

[2015-03-20 19:45] SecretlyJealous opened #233 "Plot Remove All"
/plot remove all - This would essentially remove all added players to the plot. Players mainly roleplay on my server and sometimes have over 25 users added to the plot, it can be a hassle removing every single player you've added to your plot.

[2015-03-20 20:21] MattBDev commented on #233
I'm suprised this wasn't around in the first place since the code already exists. I will add it but the permissions will be the same as plot add and plot remove

[2015-03-21 04:39] ThisTNTSquid opened #234 "Internal error"
when using /plotme , it said "An internal error occurred while attempting to perform this command"
and the server log is here http://pastebin.com/n4thGCdk

Plugin installed:
- world Edit
- Essentials
  - Core
  - Chat
  - Protection
- multiverse
  - core
  - inventory
  -portal
- lockette

[2015-03-21 06:35] Vipey opened #235 "I need help"
Could not pass event PlayerMoveEvent to PlotMe v0.13f I'm getting spammed with this issue in my console

[2015-03-21 06:58] EvilOlaf commented on #235
You are using an outdated version of PlotMe which will no longer receive support.

[2015-03-21 06:59] EvilOlaf commented on #234
You are using an outdated version of PlotMe. Update to the latest available version and see if this issue has been resolved.

[2015-03-21 16:43] #235 closed

[2015-03-21 16:44] #234 closed

[2015-03-21 19:49] jomo commented on #233
Please implement this using `/plotme remove *`. There is a user named [all](https://api.mojang.com/users/profiles/minecraft/all).

[2015-03-21 19:52] EvilOlaf commented on #233
Facepalm

[2015-03-21 19:54] jomo commented on #233
*(it would also be consistent with [`/p deny *`](https://github.com/WorldCretornica/PlotMe-Core/blob/3c7230ec0988fbe35a670c0bc9e8180e44a62e38/src/main/java/com/worldcretornica/plotme_core/commands/CmdDeny.java#L81))*

[2015-03-21 22:39] MattBDev commented on #233
Why did mojang allow players with 3 character usernames.....

[2015-03-21 22:42] jomo commented on #233
They had that since forever, see [ez](https://api.mojang.com/users/profiles/minecraft/ez) (Notch's ex-wife)

[2015-03-23 22:37] MattBDev commented on #183
I still need feedback if this is working or not

[2015-03-24 13:24] ichUndSo2014 commented on #183
Both comments dont exist in version 2.8.12. The plugin tell me there is no such sub comment.

[2015-03-24 15:07] MattBDev commented on #183
ich, what are you talking about? PlotMe is only on 0.16.3
I need to know if "/plotme resetexpired <worldname>" works or not.

[2015-03-24 21:11] Grummpy14 opened #236 "Connecting plots!"
Hey There! I have a question about how to use your plugin. I am currently on a server called aviatorcraft and they use you plugin. They have 50x50 block plots and i have a 3x3 ploted area that i have. Which is 9 plots in a square and they have 5 wide path ways around the plots now what I've tried figuring out how to connect the plots over the path ways. i have talked to the owners and they say the

[2015-03-24 22:47] MarkusAV commented on #236
#221

[2015-03-24 22:47] #236 closed

[2015-03-25 11:08] gdude2002 opened #237 "API feedback"
Noticed that your [spigot release](http://www.spigotmc.org/resources/plotme-official.2131/) asks for API feedback, and I [just added PlotMe support](https://github.com/TheArchives/Painter/blob/master/src/main/java/com/archivesmc/painter/integrations/PlotMeIntegration.java) to one of my plugins, [Painter](http://dev.bukkit.org/bukkit-plugins/painter/). I've yet to test it, though, since I don't per

[2015-03-25 17:16] MattBDev commented on #237
Thank you so much for this feedback! I have been desperately trying to recieve feedback for weeks now.
A `PlotId` is the coordinates of the plot and I have been debating on whether I should have included the world with it to make it simpler for the code. `PlotId` is a new class in 0.17 and I am happy I haven't released that version yet because adding the world (as a `String` or `IWorld` due to Spo

[2015-03-25 17:31] MattBDev commented on #237
Actually, it may not be possible to add the world to `PlotId`. I need to inquire to the sponge team about this.

[2015-03-25 17:31] gdude2002 commented on #237
Yeah, I can understand abstractions for various server types (How is the sponge API going, by the way? Are you using Yaml for your configs instead of that odd HOCON stuff?).. Personally, I see nothing wrong with returning null if something further down the stack also returns null, and would be happy to check that - It occurred to me that I'm actually not checking that right now and probably should

[2015-03-25 17:47] MattBDev commented on #237
Yeah. No one wants to give feedback to me although I keep begging for it. At the moment it looks like SnakeYAML is going to be packaged with PlotMe but I am looking into seeing if I can abstract the config stuff to work with Sponge's HOCON config.

[2015-03-25 17:48] gdude2002 commented on #237
I've been planning on using SnakeYAML as well, although I've been wary of doing so because one of the devs stated that he hates YAML and may make the server crash if a plugin uses it - although I'm not entirely convinced that'll happen.

[2015-03-26 16:35] DefinitlyEvil commented on #237
@MattBDev Well I think you might wanna look a Bukkit API source code, it has a already-well-made configuration load/save system. :) And SnakeYAML is a good choice I think.

[2015-03-26 16:35] DefinitlyEvil commented on #237
I just randomly looked at the PlotMe API feedback page and I found you. xD @gdude2002

[2015-03-26 17:04] gdude2002 commented on #237
Goddamnit @DefinitlyEvil, we're both everywhere :P

[2015-03-26 17:09] MattBDev commented on #237
@DefinitlyEvil I already have a modified version of their library implemented in the next version but their library is built on SnakeYAML

[2015-03-28 02:01] DefinitlyEvil commented on #237
@gdude2002 XD

@MattBDev I know, you can just include SnakeYAML into your plugin. ;)

[2015-03-28 14:33] ITzOwen opened #238 "Internal Server Error"
I have had PlotMe for my prison server, but for some reason for some people it keeps on saying, "Internal Server Error." It happened to me once when I was just flying around in my plot.

When I look in the Console, the log says something about a Chuck Loading Error

Image: http://imgur.com/1tA5pYm

PLEASE HELP!

[2015-03-28 20:45] FallenAngel114 opened #239 "Allowing players (or one specific player) to build on the streets? and setting street biome..?"
Hi! I don't know if this is possible at all, I've tried looking but I couldn't find anything. I want to know if there's away to allow players (or a specific player) to build on the plotme streets. "why would I want anyone to be allowed to build on the streets?" Because I gave 4 plots next to each other to a player who wants to be able to build on the streets as well. I would like to help do it mys

[2015-03-28 20:50] jomo commented on #239
#186

[2015-03-28 20:50] jomo commented on #221
#186

[2015-03-28 21:25] FallenAngel114 commented on #239
i dont understand...

[2015-03-28 21:30] MattBDev commented on #239
@FallenAngel114 He meant to refer you to another issue but the issue he referred you to was a closed issue. This is a request that is very frequently asked for and can be found at #221. This issue will now be closed

[2015-03-28 21:30] #239 closed

[2015-03-28 21:32] MattBDev commented on #238
Your config is setup incorrectly, you are also using an old version of CraftBukkit that will soon no longer be supported.

[2015-03-28 21:32] #238 closed

[2015-03-28 21:57] MattBDev commented on #237
@DefinitlyEvil SnakeYAML is very big....I am hoping I can find a solution where I won't have to include it.

[2015-03-29 00:06] gdude2002 commented on #237
SnakeYAML is basically all there is that's well-maintained and reliable as far as I can see.

You may not have to include all of it though - Why not experiment with JarJar?

[2015-03-29 02:57] DefinitlyEvil commented on #237
@MattBDev Well you may develop your own YAML parser if you want. xD It's possible but takes time though. :O

[2015-03-29 09:56] jomo commented on #237
there is https://github.com/EsotericSoftware/yamlbeans too. Writing your own YAML parser is going to end up in a bigger project than PlotMe itself.

[2015-03-29 10:33] DefinitlyEvil commented on #237
@jomo True.

[2015-03-29 12:38] gdude2002 commented on #237
Yeah, there's no need or use in going down the "Not Invented Here" path. There is YamlBeans, yeah, but I can't say I've heard much about it. Do you use it, @jomo?

[2015-03-29 12:53] jomo commented on #237
Nope, found it on the YAML website

[2015-03-29 14:49] MattBDev commented on #237
I am now minimizing the jar while shading in maven. It shrinks it a tiny bit but it looks like all a majority of the classes in SnakeYAML are needed. I am going to continue using it for the time being.

[2015-03-29 23:32] MattBDev commented on #6
I believe this is now satisfied with commit 3f0b0b3
If it still needs attention, please comment.

[2015-03-29 23:32] #6 closed

[2015-03-29 23:33] MattBDev commented on #183
This seems to be working as expected and there has been no feedback as to whether it is actually broken or not. This issue will be closed. If you believe this is a mistake please reply.

[2015-03-29 23:33] #183 closed

[2015-03-29 23:59] AnthonyAMC commented on #6
yay!

[2015-03-30 01:02] MattBDev commented on #6
:smile: We will have to wait till 0.17 is released to make sure

[2015-03-30 07:29] ITzOwen opened #240 "Internal Server Error [More help please this time]"
I still have the internal server error :(

PlotMe was ok for a day, and then it happened.

Tell me what I need to do in the config, [last time you said I did it wrong]

And tell me what version of CraftBukkit I need to have! Maybe I might have to switch to spigot! Help me a lot please! <3

Error: http://imgur.com/pei21Xy

PLEASE HELP

[2015-03-30 13:28] MattBDev commented on #240
Your Plotme Config and Generator Config are setup improperly. Saying "PLEASE HELP" doesn't do anything. Opening another issue for something you already reported and many others have reported is not helpful either. Please use the spigot forums if you are still getting this error.

[2015-03-30 13:29] MattBDev commented on #240
You also really should be using CraftBukkit 1.8.3

[2015-03-30 13:29] #240 closed

[2015-03-30 23:18] DefinitlyEvil commented on #237
Your plugin is awesome, people won't mind the size of it is big. ;)

[2015-03-31 17:37] xAcrosonicx opened #241 "Per World Commands Issue"
Hello, I was wondering how I can make it so when players are in my Prison World, they can do /plot h and get to the First Plots (PlotWorld) and not the Second plots (Creative). Right now when they are in Prison and do /plot h they go to Creative, but I want them to go to Plotworld, and I use PEX. Need help ASAP, thanks :)

[2015-03-31 18:04] MattBDev commented on #241
This really isn't an *"issue"* more of a general question on how to do something.
Sadly, this is not yet possible. At the moment when you try doing */plot h*, it will teleport you to the oldest plot you own (If I recall correctly). I do have plans on modifying how plot home works. Although it is not exactly what you are looking for, I hope it helps you at least a little bit. I will be closing this

[2015-03-31 18:04] #241 closed

[2015-03-31 18:20] xAcrosonicx commented on #241
Thank you for the speedy reply! Plot home does not bring me to my oldest plot, it only brings me to the creative world plots. So, I have multiple plots in "plotworld" and zero in "creative" when I do /plot h it says "no plot home" (or something along those lines) because I haven't claimed any in the creative world. It seems to be only recognizing the creative world for any plot commands, unless I

[2015-03-31 18:22] MattBDev commented on #241
Try modifying allowWorldTeleport in the plotme config.

[2015-03-31 18:41] xAcrosonicx commented on #241
I turned it from true to false, and now when I'm in the prison world it says "This is not a plotworld" when I do /plot home

[2015-03-31 20:29] MattBDev commented on #241
set it back to true. Wait for 0.17 when I redo that command. ETA on 0.17 is mid April

[2015-04-01 01:13] xAcrosonicx commented on #241
Dang. Will do, thanks

[2015-04-01 08:37] ITzOwen commented on #240
not that helpful, WHAT did I do wrong in my config? What shall I edit?

[2015-04-01 12:49] EvilOlaf commented on #240
No one has a second sight, so post your config.

[2015-04-01 21:03] antondubek opened #242 "Biome Change Not working"
When issuing the command /plotme biome [insert biome]   nothing happens. It charges the user to use the command stating that it has changed the biome but nothing changes in game.

Any suggestions? Guessing this is a bug

[2015-04-01 22:14] walman1123 opened #243 "Generating a new world error"
Hello When i try to create a new world i get the error saying that it "Failed". The command is do is /mv create {NAME} normal -g PlotMe-DefaultGenerator. Please help me!

[2015-04-01 22:52] MattBDev commented on #243
This is not a bug and many people have asked the same thing as you. Look in the closed issues next time. When you use the command, assuming you did not change the default world name in the configs, you would be using this command "/mv create plotworld normal -g PlotMe-DefaultGenerator".
Also, saying "Please help me" doesn't get you help any faster.

[2015-04-01 22:52] #243 closed

[2015-04-01 22:54] MattBDev commented on #242
Due to a bug in minecraft itself, we cannot update the color of the biome. If we did, the user would get a memory leak.
Once mojang patches this bug, I will re-add this but for the time being you need to relog.

[2015-04-01 22:54] #242 closed

[2015-04-02 06:49] MattBDev commented on #166
Request accepted.

[2015-04-02 06:54] MattBDev opened #244 "Generator and PlotMe-Core Ignore Minecraft World Border"
The generator and core don't recognize if the world has a world border. This causes issues when using */plome auto* to get a plot because it can teleport you outside the world border and give you a plot outside of it.